@import "~src/styles/raisins/variables";
@import "~src/styles/raisins/mixins";

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 86%;
}

@include screen-w(1025px) {
  .form-container {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;

    .form-row {
      flex-direction: column;

      .description {
        margin: 0 auto 5px auto;
      }
    }
  }
}

