@import "~src/styles/raisins/variables";
@import "~src/styles/raisins/mixins";

.product-iten-text {
  text-align: center;
}

.center-not-found {
  margin: auto;
  position: absolute;
  top: 100%; 
  left: 0; 
  bottom: 0; 
  right: 0;
  //left: 50%;
  //transform: translate(-50%, 0);
}

:host {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: $space;
}

app-product-item {
  transform-origin: center bottom;
}

@include screen-w(1366px) {
  :host {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@include screen-w(768px) {
  :host {
    grid-template-columns: 1fr 1fr;
    gap: $space/2;
  }

  .center-not-found {
    position: sticky;
  }
}

