<rap-breadcrumbs [breadcrumbs]="breadcrumbs" class="breadcrumbs-container"></rap-breadcrumbs>
<br />
<div class="row wrap">
  <div class="col col-side filter-margin-left">
    <!-- <i>Filters will be here</i>
    min: {{filter.price?.min * currency.current.value}} <br>
    max: {{filter.price?.max * currency.current.value}} <br> -->

    <app-filter-page class="filter-block" (categoryBread)="getCategoryBread($event)" (filterChanged)="onFilterChanged($event)"></app-filter-page>

    <!-- <div class="padding">
      <small>Ціна: </small>
      <div class="slidecontainer">
        <input
          class="slider"
          type="range"
          [min]="filter.price.min"
          [max]="filter.priceModel.max"
          [(ngModel)]="filter.priceModel.min"
        />
      </div>
      <div class="slidecontainer">
        <input
          class="slider"
          type="range"
          [min]="filter.priceModel.min"
          [max]="filter.price.max"
          [(ngModel)]="filter.priceModel.max"
        />
      </div>
  
      <div class="text-center">
        <span>
          {{ currency.current.simbol_left }}
          {{ filter.priceModel.min * currency.current.value |number }} -
          {{ filter.priceModel.max * currency.current.value |number }}
          {{ currency.current.simbol_right }}
        </span>
      </div>
    </div> -->

  </div>
  <div class="col">
    <div class="sort-content">

      <app-filter-page class="filter-block-btn" (filterChanged)="onFilterChanged($event)"></app-filter-page>

      <mat-form-field appearance="standart" class="sort-products   sotr-count-prodyct">
        <div class="sort-products-wrapper">
<!--          [ngClass]="{'sortNone':selectStatusBy}"-->

          <mat-label class="sort-products-label" [ngClass]="{'sortNone':selectStatusBy}">{{ 'sortBy.sort' | translate }}</mat-label>
          <mat-select (selectionChange)="onSortingChanged($event.value)">
            <!-- <mat-option *ngFor="let productData of sortProductsData" [value]="productData">
              {{ productData }}
            </mat-option> -->
            <mat-option [value]="'minPrice'">
              {{ 'sortBy.minPrice' | translate}}
            </mat-option>
            <mat-option [value]="'maxPrice'">
              {{ 'sortBy.maxPrice' | translate}}
            </mat-option>
            <mat-option [value]="'rating'">
              {{ 'sortBy.rating' | translate}}
            </mat-option>
            <mat-option [value]="'promotions'">
              {{ 'sortBy.promotions' | translate}}
            </mat-option>
          </mat-select>
        </div>
      </mat-form-field>
      <mat-form-field appearance="standart" class="sort-products sort-count-product">
        <div class="sort-products-wrapper">
          <mat-label class="sort-products-label" [ngClass]="{'sortNone':selectStatus}"> {{ 'sortBy.view' | translate }}: </mat-label>
          <!-- <div *ngFor="let card of cardNumbers"> -->
            <mat-select (selectionChange)="onCardNumberChanged($event.value)">
              <mat-option *ngFor="let card of cardNumbers" [value]="card">
                {{ card }}
                <!-- {{ 'sortBy.take' | translate }} -->
              </mat-option>
            </mat-select>
          <!-- </div> -->
        </div>
      </mat-form-field>
    </div>
    <h1 style="margin-top: 0;">{{ product?.item?.name }}</h1>
    <!-- <pre>{{this.product.products | json}}</pre> -->

    <app-product-list class="product-list__padding"
      [products]="product?.products?.data?.products"
    ></app-product-list>

    <app-pagination
      class="radius"
      [page]="product?.page"
      [total]="product?.products?.data?.products?.length > 0 ? Math.ceil(product?.products?.count / product?.products?.take): 0"
      [pagesToShow]="5"
      (pageChanged)="pageChangedHandler($event)"
    ></app-pagination>
  </div>
  <!-- <div class="col col-side col-review"> -->
    <!-- <app-review-card
      class="radius"
      [title]="'Last reviews'"
      [reviewsList]="review.review"
    ></app-review-card> -->
  <!-- </div> -->
</div>
