<rap-breadcrumbs [breadcrumbs]="breadcrumbs" class="breadcrumbs-container"></rap-breadcrumbs>
<br />
<div class="row wrap">
  <div class="col col-side">
    <!-- <i>Filters will be here</i>
    min: {{filter.price?.min * currency.current.value}} <br>
    max: {{filter.price?.max * currency.current.value}} <br> -->

    <app-filter-page (filterChanged)="onFilterChanged($event)"></app-filter-page>

    <!-- <div class="padding">
      <small>Ціна: </small>
      <div class="slidecontainer">
        <input
          class="slider"
          type="range"
          [min]="filter.price.min"
          [max]="filter.priceModel.max"
          [(ngModel)]="filter.priceModel.min"
        />
      </div>
      <div class="slidecontainer">
        <input
          class="slider"
          type="range"
          [min]="filter.priceModel.min"
          [max]="filter.price.max"
          [(ngModel)]="filter.priceModel.max"
        />
      </div>
  
      <div class="text-center">
        <span>
          {{ currency.current.simbol_left }}
          {{ filter.priceModel.min * currency.current.value |number }} -
          {{ filter.priceModel.max * currency.current.value |number }}
          {{ currency.current.simbol_right }}
        </span>
      </div>
    </div> -->

  </div>
  <div class="col">
    <mat-form-field appearance="standart" class="sort-products">
      <div class="sort-products-wrapper">
        <mat-label class="sort-products-label">{{ 'sortBy.sort' | translate }}</mat-label>
        <mat-select (selectionChange)="changeMaterialCategory($event)">
          <!-- <mat-option *ngFor="let productData of sortProductsData" [value]="productData">
            {{ productData }}
          </mat-option> -->
          <mat-option [value]="'price'">
            {{ 'sortBy.price' | translate}}
          </mat-option>
          <mat-option [value]="'rating'">
            {{ 'sortBy.rating' | translate}}
          </mat-option>
        </mat-select>
      </div>
    </mat-form-field>
    <h1 style="margin-top: 0;">{{ product.item.name }}</h1>

    <br />

    <!-- <pre>{{this.product.products | json}}</pre> -->

    <app-product-list
      [products]="product.products.data.products"
    ></app-product-list>

    <app-pagination
      class="radius"
      [page]="product.page"
      [total]="product.products.data.products.length > 0 ? Math.ceil(product.products.count / product.products.take): 0"
      [pagesToShow]="5"
      (pageChanged)="pageChangedHandler($event)"
    ></app-pagination>
  </div>
  <div class="col col-side col-review">
    <!-- <app-review-card
      class="radius"
      [title]="'Last reviews'"
      [reviewsList]="review.review"
    ></app-review-card> -->
  </div>
</div>
