<!--<div class="button-slider-block"  >-->
<!--  <show-u-title style="width: 30% height:30px" [title]="'main.bestSellers' | translate"></show-u-title>-->
<div class="flex right desctop-btn margin-top_-31px">
    <button class="button transparent prev" (click)="moveLeft()"><</button>
    <button class="button transparent next" (click)="moveRight()">></button>
</div>


<div style="overflow: hidden; flex-direction: row;" id="small-product-slider">
    <rap-svg-ico class="move-btn" (click)="moveLeft()" [src]="'assets/icons/left.svg'"></rap-svg-ico>
    <drag-scroll #slider id="slider-product" style=" height: 100%; pointer-events: auto;">

        <div class="product-item-block" drag-scroll-item *ngFor="let product of products">
            <div class="product-item-wrap">
                <div class="ratio">
                    <div class="square">
                        <a [routerLink]="['/products/view/' + product?.id]" class="product-img-padding">
                            <div class="sale-label-container">
                                <div *ngIf="product.promotion"
                                     class="sale-label sale">{{'product.sale' | translate}}</div>
                                <div *ngIf="isIn24Created(product.created_at)"
                                     class="sale-label new">{{'product.new' | translate}}</div>
                            </div>

                            <img
                                    [ngClass]="{ soldout: product?.soldout }"
                                    src="{{ hoststatic + product?.image?.src_mini }}"
                                    [alt]="product.name"
                                    class="cover"
                            />
                        </a>

                        <div class="stickers">
                            <div *ngIf="product?.oldPrice" class="sticker sale">Sale</div>
                            <div *ngIf="product?.isNew" class="sticker new">New</div>
                            <div *ngIf="product?.soldout" class="sticker soldout">Sold Out</div>
                        </div>

                        <div class="product-buttons">
                            <a
                                    class="button"
                                    [routerLink]="['/products/view/' + product?.id]"
                                    routerLinkActive="router-link-active"
                            >
                                <rap-svg-ico [src]="'assets/icons/eye.svg'"></rap-svg-ico>
                            </a>

                            <a class="button" (click)="addToWishlist($event, product)">
                                <rap-svg-ico [src]="'assets/icons/heart.svg'"></rap-svg-ico>
                            </a>

                            <a
                                    class="button"
                                    *ngIf="!product?.soldout"
                                    (click)="toCart($event, product)"
                            >
                                <rap-svg-ico [src]="'assets/icons/shop_cart_icon_white.svg'"></rap-svg-ico>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="padding">
                    <rap-rating [rating]="Math.round(product?.review)"></rap-rating>
                    <a
                            [routerLink]="['/products/view/' + product?.id]"
                            routerLinkActive="router-link-active"
                    ><h4 class="title price-title" style="margin-top: 0;">
                        {{ product?.description?.name }}
                    </h4></a
                    >

                    <div class="product-item-name">{{ product?.name }}</div>

                    <div class="flex space space-card-beetwen">
    <span *ngIf="product?.discont?.price" class="old-price">
      <del
      >{{ currency?.current?.simbol_left }}
          {{ product?.price * currency?.current?.value | number }}
          {{ currency?.current?.simbol_right }}</del
      >
    </span>
                        <span [ngClass]="{ 'new-price': product?.discont?.price }"
                              class="price-padding">
      {{ currency?.current?.simbol_left }}
                            <span *ngIf="product?.discont?.price === null">{{ product?.price * currency?.current?.value | number }}</span>
      <span *ngIf="product?.discont?.price !== null">{{ product?.discont?.price * currency?.current?.value | number }}</span>
                            {{ currency?.current?.simbol_right }}</span
                        >
                    </div>
                </div>
            </div>
        </div>
        <!--        <app-product-item drag-scroll-item-->
        <!--              *ngFor="let item of products"-->
        <!--              [product]="item"-->
        <!--              id="drag-item"-->
        <!--              class="drag-item-content"-->
        <!--      ></app-product-item>-->
    </drag-scroll>
    <rap-svg-ico class="move-btn" (click)="moveRight()" [src]="'assets/icons/right.svg'"></rap-svg-ico>
</div>
