<!--<div class="button-slider-block"  >-->
<!--  <show-u-title style="width: 30% height:30px" [title]="'main.bestSellers' | translate"></show-u-title>-->
<div class="flex right" >
  <button class="button transparent prev" (click)="moveLeft()"><</button>
  <button class="button transparent next" (click)="moveRight()">></button>
</div>
<!--</div>-->



  <div style="overflow: hidden; flex-direction: row;" id="small-product-slider">
    <drag-scroll #slider   id="slider-product" >
      <app-product-item  drag-scroll-item
                         *ngFor="let item of products"
                         [product]="item"
                         style="margin-left: 8px; margin-right: 8px;"
      ></app-product-item>
    </drag-scroll>
  </div>
