@import "~src/styles/raisins/variables";
@import "~src/styles/raisins/mixins";

//
//
//

app-product-item {
  width: calc(23.7%);
  //- #{$space}
  margin:0;
  flex-shrink: 0;
}

#slider-product{
  width: 100%;
}
.move-btn{
  display: none;
}

.button-slider-block{
  height: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;

  show-u-title{
    display: inline;
  }
}
.product-item-block{
  //padding: 10px;
  background-color: rgb(250,250,250);
  //padding-bottom: 1px;
  width: 25%;
  padding: 5px 1vw;

}

//.drag-item-content {
//  margin-left: 8px;
//  margin-right: 8px;
//}

@include screen-w(800px) {
  .drag-item-content {
    margin-left: 0;
    margin-right: 0;
  }
  .product-item-block{
    background-color: rgb(250,250,250);
    width:33.3%;
    padding: 5px 1vw;

  }
  
  

  app-product-item {
    width: calc(50% );

    //- #{$space/2}
    //margin: $space/4;
    //margin:0;
  }
}

@include screen-w(480px) {
  .product-item-block{
    background-color: rgb(250,250,250);
    width:100%;
    padding: 5px 4vw;

  }
  app-product-item {
    width: calc(50% );
    //- #{$space/2}
    //- #{$space}
    //margin: $space/4;
  }
  .desctop-btn{
    display: none;
  }
  .move-btn{
    width: 4vw;
    display: flex;
  }
  #small-product-slider{
    padding: 0 3vw;
  }
}
@include screen-w(375px) {

  app-product-item {
    width: calc(100%);
    margin: 0 auto;

  //+ #{$space/2}
  //  margin: $space/4;
  //  margin: 0 1%;
  }
  //#slider-product{
  //  width: 90%;
  //}
  //#small-product-slider{
  //  display: flex;
  //  justify-content: center;
  //  width: 84vw;
  //  margin: 0 auto;
  //}

  //.drag-item-content {
  //  margin-left: 0px;
  //  margin-right: 0px;
  //}

  //#small-product-slider{
  //  width: 50%;
  //  display: flex;
  //  justify-content: center;
  //
  //  background-color: #6416e0;
  //}

}
//item styles============>>>>>
@import "~src/styles/raisins/variables";
@import "~src/styles/raisins/mixins";

:host {
  // border: 1px solid;
  background-color: $white;

  @include material-shadow(1, 1, $gray400);
  @include transition();
  transform-origin: bottom center;
  border-radius: $radius;
  &:hover {
    @include material-shadow(2, 1, $gray500);
    transform: scale(1.01);
  }
  //.ratio,
  //.cinema,
  //img {
    //border-top-left-radius: $radius;
    //border-top-right-radius: $radius;
  }
  // .raisins-show-rating {
  //   //margin: $space/4 0;
  // }
//}

.product-item-wrap{
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
  padding-bottom: 19px;
  //border: solid 1px black;
}


img.soldout {
  filter: grayscale(.9);
}

.title {
  margin: 0 0 $space/4;
  font-size: $fontSizeH6;
}

.padding {
  padding: $space/4 $space $space;

  .product-item-name {
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-size: 19px;
  }
}

.product-img-padding {
  padding-top: 45%;
}


.stickers {
  z-index: 1000;
  position: absolute;
  top: $space/2;
  left: $space/4;
  right: 0;
  display: flex;
  flex-direction: row;
  .sticker {
    padding: $space/4 $space/2;
    color: $white;
    font-size: $fontSizeSmall;
    font-weight: bold;
    border-radius: 2px;
    margin: $space/4;
    backdrop-filter: blur(2px);
    &.sale {
      background-color: rgba($orange, .8);
    }
    &.new {
      margin-left: auto;
      background-color: rgba($green, .8);
    }
    &.soldout {
      margin-left: auto;
      background-color: rgba($gray500, .8);
    }
  }
}

.product-buttons {
  z-index: 0;
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  bottom: $space/4;
  left: 0;
  right: 0;
  @include transition();
  .button {
    min-width: unset;
    padding: $space/8;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin: 0 $space/4;
    align-items: center;
    background-color: rgba($gray800, 0.8);
    background-color: rgba(lighten(mix($gray800, darken($blue, 30%)), 5%), 0.8);
    &:hover {
      transform: scale(1.05);
      background-color: rgba($primary, 1);
    }
    rap-svg-ico {
      width: 16px;
      height: 16px;
      display: block;
      fill: white;
    }
  }
}

// :host {
//   &:hover {
//     .product-buttons {
//       opacity: 1;
//     }
//   }
// }

.product-item-block {
  &:hover {
    .product-buttons {
      opacity: 1;
    }
  }
}

.old-price {
  color: #9F1941;
}

.new-price {
  color: #42996F;
}

//.price-padding {
  //padding-bottom: 20px;
//}

.padding {
  padding: 4px 16px 3px !important;
}

.price-title {
  height: 45px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (hover: none) {
  .product-buttons {
    opacity: 1;
  }
}
@media screen  and (max-width: 768px){
  .padding{
    text-align: center;
    div{
      display: flex;
      justify-content: center;
    }

  }
  .space-card-beetwen{
    display:flex;
    flex-direction: row;
    justify-content: space-between !important;
  }
}

