<!--<div class="button-slider-block"  >-->
<!--  <show-u-title style="width: 30% height:30px" [title]="'main.bestSellers' | translate"></show-u-title>-->
<div class="flex right" >
  <button class="button transparent prev" (click)="moveLeft()"><</button>
  <button class="button transparent next" (click)="moveRight()">></button>
</div>
<!--</div>-->



  <div style="overflow: hidden; flex-direction: row;" id="small-product-slider">
    <drag-scroll #slider id="slider-product" style="width: 100%; height: 100%; pointer-events: auto;">
      <app-product-item  drag-scroll-item
        *ngFor="let item of products"
        [product]="item"
        id="drag-item"
        class="drag-item-content"
      ></app-product-item>
    </drag-scroll>
  </div>
