@import "~src/styles/raisins/variables";
@import "~src/styles/raisins/mixins";

:host {
  display: flex;
  flex-direction: column;
  user-select: none;

  header {
    padding: $space/4;
    display: flex;
    flex-direction: row;
    align-items: center;

    div.icon,
    div.status {
      @include col-width(24px);
      height: 24px;
      margin-right: $space/4;
      img,
      rap-svg-ico {
        margin: auto;
        width: 100%;
        height: auto;
        fill: $white;
        display: block;
        transition: all 0.2s ease-in-out;
      }
    }

    div.status {
      // @include col-width(12px);
      border-radius: 50%;
      rap-svg-ico {
        width: 12px;
        height: 12px;
      }
    }

    div.title {
      flex: 1;
    }

    &.active,
    &:hover {
      div.status {
        background-color: rgba($white, 0.04);
      }
    }

    &.active {
      div.status {
        rap-svg-ico {
          transform: rotate(45deg);
        }
      }
    }
  }

  section {
    overflow: hidden;
    &.active {
      background-color: rgba($white, 0.04);
    }
  }
}
