<a
  *ngIf="!value.link"
  [routerLink]="['/', 'products', value.id]"
  routerLinkActive="router-link-active"
  >{{ value.name }}</a
>

<a
  *ngIf="value.link"
  [routerLink]="[value.link]"
  routerLinkActive="router-link-active"
  >{{ value.name }}</a
>

<button
  [ngClass]="{ active: active }"
  *ngIf="value.sub?.length > 0"
  class="button transparent"
  (click)="active = !active"
>
  <rap-svg-ico [src]="'/assets/icons/arrow-down.svg'"></rap-svg-ico>
 
</button>

<div @fade *ngIf="value.sub?.length > 0 && active" class="submenu" (clickOutside)="onClickedOutside($event)">
  <div class="golden">
    <div class="long grid">
      <showu-menu-sub-item
        *ngFor="let item of value.sub"
        [value]="item"
      ></showu-menu-sub-item>
    </div>

    <div class="short padding">
      <div class="ratio" *ngIf="value.image">
        <div class="imax">
          <img [alt]="value.name" [src]="host + currentImg"  class="contain menu-img" />
        </div>
      </div>
    </div>
  </div>
</div>
