.category {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: -65px;
    width: 202px;
    border-bottom: 1px solid #EEF1F5;
    line-height: 2;
    margin-top: 5px;
}

.filter-name {
    width: 180px;
    font-size: 16px;
    margin-right: 5px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.material-icons {
    filter: invert(0.5);
    font-size: 15px;
    margin-top: 6px;
    cursor: pointer;
    width: 17px;
}

.checkbox {
    margin-top: -3px;
}

@media screen and(max-width: 768px){
    .category{
        margin-left: 0;
        width: 90%;
    }
    .filter-name {
        //width: 90%;
        font-size: 16px;
        margin-right: 5px;
    }
}
