<app-checkout-step
  [ngClass]="{ done: check.steps[1].done }"
  [step]="2"
  [title]="'cart.chooseDeliveryPayment' | translate"
></app-checkout-step>

<div class="card padding" *ngIf="check.currentStepIndex > 0">
  <div
    @fadeHeight
    *ngIf="check.currentStepIndex > 0 && check.steps[1].done"
    class="flex"
  >
    <div style="flex: 1;">
      <h4>{{ check.checkoutDelivery }} {{ check.checkoutDeliveryAddress }}</h4>
      <span>{{ check.checkoutPayment | translate}}, {{ check.checkoutRecipient }}</span>
      <span
        >{{ check.checkoutContact.country }},
        {{ check.checkoutContact.city }}</span
      >
    </div>
    <div>
      <div class="flex">
        <button (click)="edit()" class="button radius small transparent">
          {{ "cart.edit" | translate }}
        </button>
      </div>
    </div>
  </div>

  <hr
    *ngIf="check.currentStepIndex > 0 && check.steps[1].done"
    class="dashed"
  />

  <div *ngIf="check.currentStepIndex == 1" @fadeHeight>
    <app-checkout-product-item
      *ngFor="let value of cart.list"
      @fadeHeight
      [value]="value"
    >
    </app-checkout-product-item>
    <form
      @fadeHeight
      *ngIf="!check.steps[1].done"
      #deliveryPaymentForm="ngForm"
      (submit)="nextStep()"
    >
      <hr class="dashed" />

      <div class="form-row">
        <div class="description">
          <h6>{{ "cart.delivery" | translate }}</h6>
        </div>
        <div class="original" *ngIf="check.checkoutContact.country === ('countries.ukraine' | translate)">
          <input
            class="raisins-radio label"
            type="radio"
            [(ngModel)]="check.checkoutDelivery"
            name="deliveryToTheNovaPoshta"
            value="{{ 'deliveryMethods.deliveryToTheNovaPoshta' | translate }}"
            id="delivery_deliveryToTheNovaPoshta"
          />
          <label for="delivery_deliveryToTheNovaPoshta">{{ "deliveryMethods.deliveryToTheNovaPoshta" | translate }}</label>

          <input
            class="raisins-radio label"
            type="radio"
            [(ngModel)]="check.checkoutDelivery"
            name="deliveryByCourierOfNovaPoshta"
            value="{{ 'deliveryMethods.deliveryByCourierOfNovaPoshta' | translate }}"
            id="delivery_deliveryByCourierOfNovaPoshta"
          />
          <label for="delivery_deliveryByCourierOfNovaPoshta">{{ "deliveryMethods.deliveryByCourierOfNovaPoshta" | translate }}</label>

          <input
            class="raisins-radio label"
            type="radio"
            name="deliveryIsMadeToTheEntranceOfTheBuilding"
            [(ngModel)]="check.checkoutDelivery"
            value="{{ 'deliveryMethods.deliveryIsMadeToTheEntranceOfTheBuilding' | translate }}"
            id="delivery_deliveryIsMadeToTheEntranceOfTheBuilding"
          />
          <label for="delivery_deliveryIsMadeToTheEntranceOfTheBuilding">{{ "deliveryMethods.deliveryIsMadeToTheEntranceOfTheBuilding" | translate }}</label>

          <input
            class="raisins-radio label"
            type="radio"
            name="selfPickupFromShowroom"
            [(ngModel)]="check.checkoutDelivery"
            value="{{ 'deliveryMethods.selfPickupFromShowroom' | translate }}"
            id="delivery_selfPickupFromShowroom"
          />
          <label for="delivery_selfPickupFromShowroom">{{ "deliveryMethods.selfPickupFromShowroom" | translate }}</label>

          <!-- <input
            class="raisins-radio label"
            type="radio"
            [(ngModel)]="check.checkoutDelivery"
            name="delivery"
            value="delivery"
            id="delivery"
          />
          <label for="delivery">Delivery</label> -->
        </div>
        <div class="original" *ngIf="check.checkoutContact.country === ('countries.poland' | translate)">
          <input
            class="raisins-radio label"
            type="radio"
            [(ngModel)]="check.checkoutDelivery"
            name="polishpost"
            value="{{'deliveryMethodsPl.polishPost' | translate }}"
            id="delivery_polishPost"
          />
          <label for="delivery_polishPost">{{ 'deliveryMethodsPl.polishPost' | translate }}</label>

          <input
            class="raisins-radio label"
            type="radio"
            [(ngModel)]="check.checkoutDelivery"
            name="paczkomatyinpost"
            value="{{ 'deliveryMethodsPl.paczkomatyInPost' | translate }}"
            id="delivery_paczkomatyInPost"
          />
          <label for="delivery_paczkomatyInPost">{{ 'deliveryMethodsPl.paczkomatyInPost' | translate }}</label>

          <input
            class="raisins-radio label"
            type="radio"
            name="DPDcourierYouNeedAContract"
            [(ngModel)]="check.checkoutDelivery"
            value="{{ 'deliveryMethodsPl.DPDcourierYouNeedAContract' | translate }}"
            id="delivery_DPDcourierYouNeedAContract"
          />
          <label for="delivery_DPDcourierYouNeedAContract">{{ 'deliveryMethodsPl.DPDcourierYouNeedAContract' | translate }}</label>

          <input
            class="raisins-radio label"
            type="radio"
            name="DHLcourierYouNeedAContract"
            [(ngModel)]="check.checkoutDelivery"
            value="{{ 'deliveryMethodsPl.DHLcourierYouNeedAContract' | translate }}"
            id="delivery_DHLcourierYouNeedAContract"
          />
          <label for="delivery_DHLcourierYouNeedAContract">{{ 'deliveryMethodsPl.DHLcourierYouNeedAContract' | translate }}</label>

          <input
            class="raisins-radio label"
            type="radio"
            [(ngModel)]="check.checkoutDelivery"
            name="GLScourierYouNeedAContract"
            value="{{ 'deliveryMethodsPl.GLScourierYouNeedAContract' | translate }}"
            id="delivery_GLScourierYouNeedAContract"
          />
          <label for="delivery_GLScourierYouNeedAContract">{{ 'deliveryMethodsPl.GLScourierYouNeedAContract' | translate }}</label>

          <input
            class="raisins-radio label"
            type="radio"
            [(ngModel)]="check.checkoutDelivery"
            name="UPScourierYouNeedAContract"
            value="{{ 'deliveryMethodsPl.UPScourierYouNeedAContract' | translate }}"
            id="delivery_UPScourierYouNeedAContract"
          />
          <label for="delivery_UPScourierYouNeedAContract">{{ 'deliveryMethodsPl.UPScourierYouNeedAContract' | translate }}</label>

          <input
            class="raisins-radio label"
            type="radio"
            [(ngModel)]="check.checkoutDelivery"
            name="parcelInRUCH"
            value="{{ 'deliveryMethodsPl.parcelInRUCH' | translate }}"
            id="delivery_parcelInRUCH"
          />
          <label for="delivery_parcelInRUCH">{{ 'deliveryMethodsPl.parcelInRUCH' | translate }}</label>

          <input
            class="raisins-radio label"
            type="radio"
            [(ngModel)]="check.checkoutDelivery"
            name="pickupInPerson"
            value="{{ 'deliveryMethodsPl.pickupInPerson' | translate }}"
            id="delivery_pickupInPerson"
          />
          <label for="delivery_pickupInPerson">{{ 'deliveryMethodsPl.pickupInPerson' | translate }}</label>
        </div>
      </div>

      <div class="form-row">
        <div class="description">
          <label for="checkoutDeliveryAddress"
            ><h6>{{ "cart.address" | translate }}</h6></label
          >
        </div>
        <div class="original">
          <textarea
            #checkoutDeliveryAddress="ngModel"
            required
            [(ngModel)]="check.checkoutDeliveryAddress"
            class="radius"
            name="checkoutDeliveryAddress"
            id="checkoutDeliveryAddress"
            rows="3"
          ></textarea>
          <div
            *ngIf="
              !(
                checkoutDeliveryAddress.valid ||
                checkoutDeliveryAddress.pristine
              )
            "
            @fadeHeight
            class="validation-msg red"
          >
            {{ "cart.addressRequired" | translate }}
          </div>
        </div>
      </div>

      <hr class="dashed" />

      <div class="form-row">
        <div class="description">
          <h6>{{ "cart.payment" | translate }}</h6>
        </div>
        <div class="original" *ngIf="check.checkoutContact.country === ('countries.ukraine' | translate)">
          <input
            class="raisins-radio label"
            type="radio"
            name="payment"
            value="{{ 'cart.cash' | translate }}"
            [(ngModel)]="check.checkoutPayment"
            id="payment_cash"
          />
          <label for="payment_cash">{{ 'cart.cash' | translate }}</label>

          <input
            class="raisins-radio label"
            type="radio"
            name="payment"
            value="{{ 'cart.cashless' | translate }}"
            [(ngModel)]="check.checkoutPayment"
            id="payment_cashless"
          />
          <label for="payment_cashless">{{ "cart.cashless" | translate }}</label>

          <input
            class="raisins-radio label"
            type="radio"
            name="payment"
            value="LiqPay"
            [(ngModel)]="check.checkoutPayment"
            id="payment_ligpay"
          />
          <label for="payment_ligpay">LiqPay</label>

          <!-- <input
            class="raisins-radio label"
            type="radio"
            name="payment"
            value="paypal"
            [(ngModel)]="check.checkoutPayment"
            id="payment_paypal"
          />
          <label for="payment_paypal">PayPal</label>
          <input
            class="raisins-radio label"
            type="radio"
            name="payment"
            value="przelewy24pl"
            [(ngModel)]="check.checkoutPayment"
            id="payment_przelewy24pl"
          />
          <label for="payment_przelewy24pl">Przelewy24.pl</label> -->
        </div>
        <div class="original" *ngIf="check.checkoutContact.country === ('countries.poland' | translate)">
          <input
            class="raisins-radio label"
            type="radio"
            name="payment"
            value="{{ 'paymentPl.payment' | translate }}"
            [(ngModel)]="check.checkoutPayment"
            id="payment_cash"
          />
          <label for="payment_cash">{{ "paymentPl.payment" | translate }}</label>

          <input
            class="raisins-radio label"
            type="radio"
            name="payment"
            value="{{ 'paymentPl.transfers' | translate }}"
            [(ngModel)]="check.checkoutPayment"
            id="payment_przelewy24pl"
          />
          <label for="payment_przelewy24pl">{{ "paymentPl.transfers" | translate }}</label>

          <input
            class="raisins-radio label"
            type="radio"
            name="pay"
            value="{{ 'paymentPl.payU' | translate }}"
            [(ngModel)]="check.checkoutPayment"
            id="payment_payU"
          />
          <label for="payment_payU">{{ "paymentPl.payU" | translate }}</label>

          <input
            class="raisins-radio label"
            type="radio"
            name="payment"
            value="{{ 'paymentPl.blik' | translate }}"
            [(ngModel)]="check.checkoutPayment"
            id="payment_blik"
          />
          <label for="payment_blik">{{ "paymentPl.blik" | translate }}</label>

          <input
            class="raisins-radio label"
            type="radio"
            name="creditcard"
            value="{{ 'paymentPl.creditCard' | translate }}"
            [(ngModel)]="check.checkoutPayment"
            id="payment_creditCard"
          />
          <label for="payment_creditCard">{{ "paymentPl.creditCard" | translate }}</label>

          <input
            class="raisins-radio label"
            type="radio"
            name="fasttransfer"
            value="{{ 'paymentPl.fastTransfer' | translate }}"
            [(ngModel)]="check.checkoutPayment"
            id="payment_fastTransfer"
          />
          <label for="payment_fastTransfer">{{ "paymentPl.fastTransfer" | translate }}</label>

          <!-- <input
            class="raisins-radio label"
            type="radio"
            name="payment"
            value="paypal"
            [(ngModel)]="check.checkoutPayment"
            id="payment_paypal"
          />
          <label for="payment_paypal">PayPal</label>
          <input
            class="raisins-radio label"
            type="radio"
            name="payment"
            value="przelewy24pl"
            [(ngModel)]="check.checkoutPayment"
            id="payment_przelewy24pl"
          />
          <label for="payment_przelewy24pl">Przelewy24.pl</label> -->
        </div>
      </div>

      <hr class="dashed" />

      <div class="form-row">
        <div class="description">
          <h6>{{ "cart.recipient" | translate }}</h6>
        </div>
        <div class="original">
          <input
            class="raisins-radio label"
            type="radio"
            name="recipient"
            value="{{ 'cart.me' | translate }}"
            [(ngModel)]="check.checkoutRecipient"
            id="me"
          />
          <label for="me">{{ "cart.me" | translate }}</label>

          <input
            class="raisins-radio label"
            type="radio"
            name="recipient"
            value="different"
            [(ngModel)]="check.checkoutRecipient"
            id="different"
          />
          <label for="different">{{ "cart.shipDiffPeople" | translate }}</label>
        </div>
      </div>

      <app-checkout-recipient-contact-form
        @fadeHeight
        *ngIf="check.checkoutRecipient == 'different'"
        [(model)]="check.checkoutRecipientContact"
        (valid)="onValid($event)"
      ></app-checkout-recipient-contact-form>

      <div class="form-row">
        <div class="description"></div>
        <div class="original">
          <div class="flex">
            <button
              [disabled]="!deliveryPaymentForm.valid || !valid"
              type="submit"
              class="button radius delete"
            >
              {{ "cart.next" | translate }}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
