<div class="review-container__wrapper">
    <div class="review-container__items ">
            <div class="review-container__items__item">
                <div class="cell">№PT0001</div>
                <div class="cell">1 травня 2020</div>
                <div class="cell"> <img  class="cell__img"  src="assets/icons/en.svg"/></div>
                <div class="cell">133 товар на 2333500 грн</div>
                <div class="cell status green ">Виконано</div>

            </div>
            <div class="review-container__items__item">
                <div class="cell">№PT0001</div>
                <div class="cell">163 травня 2020</div>
                <div class="cell"> <img class="cell__img" src="assets/icons/en.svg"/></div>
                <div class="cell">1 товар на 2 500 грн</div>
                <div class="cell yellow status ">Обробляється</div>

            </div>
            <div class="review-container__items__item">
                <div class="cell">№PT0001</div>
                <div class="cell">16 травня 2020</div>
                <div class="cell"> <img class="cell__img" src="assets/icons/en.svg"/></div>
                <div class="cell">1 товар на 2 500 грн</div>
                <div class="cell red status">Скасовано</div>

            </div>
    </div>
</div>
