<div class="review-container__wrapper">
    <div class="review-container__items ">
        <div class="review-container__items__item">
            <div class="review-product-details__img-wrapper">
                <img
                    src="{{ hoststatic + review.product?.image?.src_mini }}"
                    [alt]="review?.product?.description?.name"
                    class="review-product-details__img"
                />
            </div>
            <div class="review-product-details__content">
                <div class="review-comment-text cursor-pointer">
                    <a [routerLink]="['/products/view/' + review?.product_id]">
                        {{ review?.product?.description?.name }} ({{ review?.product?.model }})
                    </a>
                </div>
                <div
                    *ngIf="review.text === ''"
                    class="review-product-details__leave-comment review-comment-text">
                    <a [routerLink]="">
                        Залишити відгук
                    </a>
                </div>
                <div
                    *ngIf="review.text.length > 0"
                    class="review-comment-text text-gray">
                    {{ review.text }}
                </div>
            </div>
        </div>
    </div>
</div>
