<!-- <app-products-page></app-products-page> -->
<!-- <rap-breadcrumbs [breadcrumbs]="breadcrumbs" class="breadcrumbs-container"></rap-breadcrumbs> -->
<!-- <br /> -->
<div class="row wrap">
  <!-- <div class="col col-side filter-margin-left">
  </div> -->
  <div class="col col-right">
    <div class="sort-content">
      <!-- <mat-form-field appearance="standart" class="sort-products">
        <div class="sort-products-wrapper">
          <mat-label class="sort-products-label">{{ 'sortBy.sort' | translate }}</mat-label>
          <mat-select (selectionChange)="onSortingChanged($event.value)">
            <mat-option [value]="'minPrice'">
              {{ 'sortBy.minPrice' | translate}}
            </mat-option>
            <mat-option [value]="'maxPrice'">
              {{ 'sortBy.maxPrice' | translate}}
            </mat-option>
            <mat-option [value]="'rating'">
              {{ 'sortBy.rating' | translate}}
            </mat-option>
            <mat-option [value]="'promotions'">
              {{ 'sortBy.promotions' | translate}}
            </mat-option>
          </mat-select>
        </div>
      </mat-form-field> -->
      <mat-form-field appearance="standart" class="sort-products">
        <div class="sort-products-wrapper">
          <mat-label class="sort-products-label"> {{ 'sortBy.view' | translate }}: </mat-label>
            <mat-select (selectionChange)="onCardNumberChanged($event.value)">
              <mat-option *ngFor="let card of cardNumbers" [value]="card">
                {{ card }}
              </mat-option>
            </mat-select>
        </div>
      </mat-form-field>
    </div>
    <!-- <h1 style="margin-top: 0;">{{ product.item.name }}</h1> -->

    <br />

    <!-- <pre>{{this.product.products | json}}</pre> -->

    <!-- <app-product-list
      [products]="product.products.data.products"
    ></app-product-list> -->

    <div class="wishlist-container">
        <app-wishlist-product-item
            *ngFor="let wishProduct of wishlistProducts"
            [product]="wishProduct"
            style="margin: 10px; width: 29%"
        ></app-wishlist-product-item>
    </div>

    <app-pagination
      class="radius"
      [page]="page"
      [total]="allwishlistData?.data.length > 0 ? Math.ceil(allwishlistData.count / allwishlistData.take): 0"
      [pagesToShow]="5"
      (pageChanged)="pageChangedHandler($event)"
    ></app-pagination>
  </div>
  <!-- <div class="col col-side col-review"> -->
    <!-- <app-review-card
      class="radius"
      [title]="'Last reviews'"
      [reviewsList]="review.review"
    ></app-review-card> -->
  <!-- </div> -->
</div>
