<div class="ratio radius">
  <div class="square radius">
    <img class="cover radius" src="{{ host + value.product.image.src_mini }}" alt="" />
  </div>
</div>

<div class="info">
<!--  {{value.product.selected_options|json}}-->
  <span class="name"><h4>{{ value.product.description?.name  }}, <span *ngFor="let option of value.product.selected_options">{{option.option_group}} {{option.value.description.name}}, </span></h4> </span>
  <span class="count" *ngIf="!value.product.discont"
    >
    {{currency.current.simbol_left}}
    {{ value.product.price * currency.current.value * value.count | number }}
    {{currency.current.simbol_right}}
    x
    <rap-count-input [min]="1" [(value)]="value.count"></rap-count-input>
    <span style="text-align: center" [@changeValueHighlight]="value.count">
      {{currency.current.simbol_left}}
      {{ value.product.price * currency.current.value * value.count | number }}
      {{currency.current.simbol_right}}
    </span>
  </span
  >
  <span *ngIf="value.product.discont">
    {{currency.current.simbol_left}}
    {{ value.product.discont.price * currency.current.value }}
    {{currency.current.simbol_right}}
    x
    <rap-count-input [min]="1" [(value)]="value.count"></rap-count-input>
    <span style="text-align: center" [@changeValueHighlight]="value.count">
      {{currency.current.simbol_left}}
      {{ value.product.discont.price * currency.current.value * value.count | number }}
      {{currency.current.simbol_right}}
    </span>
  </span
  >
</div>

<button class="button transparent" (click)="onDelete()">X</button>
