@media screen and(max-width: 768px) {
  input {
    height: 30px;
  }
}

.search-container {
  position: relative;
  .search-results {
    width: 100%;
    z-index: 9;
    position: absolute;
    top: calc(100% + 15px);
    padding: 23px 19px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    p {
      text-align: left;
      font-size: 12px;
      line-height: 21px;
      letter-spacing: 0px;
      color: #333333;
      cursor: pointer;
      margin-bottom: 0;
      &:hover {
        color: #9F1941;
      }
      &:not(:first-child) {
        margin-top: 10px;
      }
    }
  }
}