@import "~src/styles/raisins/variables";
@import "~src/styles/raisins/mixins";

$scale: 1.05;

:host {
  margin-top: $space * 3;
  display: flex;
  justify-content: flex-end;
  margin-right: 12px;
}

.pagination {
  display: flex;
  flex-direction: row;
  
  button {
    margin: $space / 4;
    min-width: 32px;
    text-align: center;

    background-color: $white;
    border: 1px solid #242424;
    color: $gray850;
    svg {
      display: block;
      // width: 8px;
      height: 8px;
      fill: $gray850;
      margin-left: 3px;
    }
    transform-origin: bottom center;

    &:hover {
      transform: scale($scale);

      background-color: mix($primary, $white, 80%);
      border-color: mix($primary, $white, 80%);
      color: $white;
      svg {
        fill: $white;
      }
    }
    &:active {
      background-color: mix($primary, $black, 80%);
      border-color: mix($primary, $black, 80%);
      color: $white;
      svg {
        fill: $white;
      }
    }

    &:disabled {
      filter: unset;
      background-color: $primary;
      color: $white;
      border: 1px solid $primary;

      transform: scale($scale);
      svg {
        // fill: rgba($white, .64);
        fill: rgba(36, 36, 36, 1);
      }
    }
  }
}

:host {
  &.radius {
    .pagination {
      button {
        border-radius: 5px;
      }
    }
  }
}

.previous {
  &:disabled {
    background-color: $white !important;
    color: #242424 !important;
    border-color: rgba(#242424, 1) !important;
  }
}

.next {
  &:disabled {
    background-color: $white !important;
    color: #242424 !important;
    border-color: rgba(#242424, 1) !important;
  }
}

.pagination {
  button {
    // width: unset;

    // &:disabled {
    //   border: 1px solid $primary !important;
    // }
  }
}

.go-to-first-page,
.go-to-last-page {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.first-page-svg {
  margin-left: 0px !important;
}

.last-page-svg {
  margin-left: -3px !important;
}

.first-page-svg-back {
  margin-left: 1px !important;
}
