<rap-breadcrumbs [breadcrumbs]="breadcrumbs" class="breadcrumbs-container"></rap-breadcrumbs>


<div class=" sing-container">
  <show-u-title [title]="'accaunt.signin' | translate"></show-u-title>
  <app-login-form
    [labelLogin]="'accaunt.login' | translate"
    [labelReg]="'accaunt.register' | translate"
    [labelSubmit]="'accaunt.signin' | translate"
    [labelPassword]="'accaunt.password' | translate"
    [placeholderLogin]="'accaunt.enterLogin' | translate"
    [placeholderPassword]="'accaunt.enterPass' | translate"
    [labelForgotPassword]="'accaunt.forgotPass' | translate"
  ></app-login-form>
</div>
