.footerDialog{
  position: relative;
  z-index: 0;
  overflow: hidden;
  white-space: pre-wrap;
  box-sizing: border-box;
  width: 600px;
  height: 400px;
  display: flex;
  justify-content: center;

}
.dialog-wrapper{

  display: flex;
  justify-content: center;
  align-items: center;
}

.footerHeader{
  text-align: center;

  font-weight: bold;
  h1{
    font-size: 1.4rem;
  }
}
.footerContent{
  font-size: 19px;
}
.close{
  top: 0px;
  right: 0px;
  position: absolute;
  z-index: 1000;
  cursor: pointer;
}
@media screen and (max-width:768px ){
  .footerDialog{
    overflow: hidden;
    white-space: pre-wrap;
    box-sizing: border-box;
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;

  }
  .dialog-wrapper{
    white-space: pre-wrap;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footerHeader{
    font-size: 20px;
    font-weight: bold;
  }
  .footerContent{
    font-size: 16px;
  }
}
.add-review-container__submit{
  padding-top: 50px;
  max-width: 168px;
  width: 100%;
  button{
    height: 40px;
    border: none;
    border-radius: 5px;
    background: #9F1941;
    color: white;
    font-size: 20px;
  }

}
@media screen and (max-width:560px ){
  .footerDialog{
    overflow: hidden;
    white-space: pre-wrap;
    box-sizing: border-box;
    width: 100%;
    height: 300px;
    display: flex;
    text-align: center;
    justify-content: center;

  }
  .footerHeader{
    h1{
      font-size: 18px;
    }

    font-weight: bold;
  }
  .footerContent{
    p{
      font-size: 14px;
    }

  }
}
