<form [formGroup]="authForm" (ngSubmit)="onSubmit()" class="login">
  <div class="login__input-container">
    <div class="description">
      <label for="ShowUFirstName">{{ labelFirstName }} </label>
    </div>
    <div class="original">
      <input
        formControlName="first_name"
        placeholder="{{ placeholderFirstName }}"
        required
        class=""
        id="ShowUFirstName"
        name="first_name"
        type="text"
      />
    </div>
  </div>

  <div class="login__input-container">
    <div class="description">
      <label for="ShowULastName">{{ labelLastName }} </label>
    </div>
    <div class="original">
      <input
        formControlName="last_name"
        placeholder="{{ placeholderLastName }}"
        required
        class=""
        id="ShowULastName"
        name="last_name"
        type="text"
      />
    </div>
  </div>

  <div class="login__input-container">
    <div class="description">
      <label for="ShowUEmail">{{ labelEmail }} </label>
    </div>
    <div class="original">
      <input
        autocomplete="username"
        formControlName="email"
        placeholder="{{ placeholderEmail }}"
        required
        class=""
        id="ShowUEmail"
        name="email"
        type="email"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
      />
    </div>
  </div>

  <div class="login__input-container">
    <div class="description">
      <label for="ShowUPhone">{{ labelPhone }} </label>
    </div>
    <div class="original">
      <input
        formControlName="phone"
        placeholder="{{ placeholderPhone }}"
        required
        class=""
        id="ShowUPhone"
        name="phone"
        type="tel"
      />
    </div>
  </div>

  <div class="login__input-container">
    <div class="description">
      <label for="ShowUPassword">{{ labelPassword }}</label>
    </div>
    <div class="original">
      <input
        autocomplete="current-password"
        placeholder="{{ placeholderPassword }}"
        formControlName="password"
        class=""
        id="ShowUPassword"
        required
        name="password"
        type="password"
      />
    </div>
  </div>
  <div class="singing-container">
    <div class="flex space-between">
      <button
              [disabled]="!authForm.valid || isSubmit"
              class="button delete radius large"
              type="submit"
      >
        {{ labelSubmit }}
      </button>
    </div>
    <div class="form-row">
      <div class="description"></div>
      <div class="original">
<!--        <a [routerLink]="['/', 'accaunt', 'restore']"-->
<!--        ><small>{{ labelForgotPassword }}</small></a-->
<!--        >-->
        <a [routerLink]="['/', 'accaunt', 'login']"
        ><small>{{ labelLogin }}</small></a
        >
      </div>
    </div>
  </div>


</form>


