<form [formGroup]="authForm" class="login">
  <div *ngIf="formRegisterControls.email.invalid && (formRegisterControls.email.dirty || formRegisterControls.email.touched)" class="error-container">
    <div *ngIf="formRegisterControls.email.errors.required" class="reset-error-content">
      <div class="error-message">
        <img class="error-message-icon" src="assets/icons/tick-error.svg"/>
        <div class="error-message-text">{{ 'accaunt.requiredEmail' | translate }}</div>
      </div>
    </div>
  </div>
  <div *ngIf="formRegisterControls.password.invalid && (formRegisterControls.password.dirty || formRegisterControls.password.touched)">
    <div *ngIf="formRegisterControls.password.errors.required" class="reset-error-content">
      <div class="error-message">
        <img class="error-message-icon" src="assets/icons/tick-error.svg"/>
        <div class="error-message-text">{{ 'accaunt.requiredPassword' | translate }}</div>
      </div>
    </div>
  </div>
  <div *ngIf="isSuccessRegistration" class="reset-success-content">
    <div class="success-message">
      <img class="success-message-icon" src="assets/icons/tick.svg"/>
      <div class="success-message-text">{{ 'accaunt.successfullRegistration' | translate }}</div>
    </div>
  </div>
  <div *ngIf="isRegistrationError" class="reset-error-content">
    <div class="error-message">
      <img class="error-message-icon" src="assets/icons/tick-error.svg"/>
      <div class="error-message-text">{{ 'accaunt.emailAlreadyExists' | translate }}</div>
    </div>
  </div>
  <div class="auth-title-content">
    <div class="auth-title">{{ 'accaunt.register' | translate }}</div>
  </div>
  <!-- <div class="login__input-container">
    <div class="description">
      <label for="ShowUFirstName">{{ labelFirstName }} </label>
    </div>
    <div class="original">
      <input
        formControlName="first_name"
        required
        class=""
        id="ShowUFirstName"
        name="first_name"
        type="text"
      />
    </div>
  </div> -->

  <!-- <div class="login__input-container">
    <div class="description">
      <label for="ShowULastName">{{ labelLastName }} </label>
    </div>
    <div class="original">
      <input
        formControlName="last_name"
        required
        class=""
        id="ShowULastName"
        name="last_name"
        type="text"
      />
    </div>
  </div> -->

  <div class="login__input-container">
    <div class="description">
      <label for="ShowUEmail">{{ labelEmail }} </label>
    </div>
    <div class="original">
      <input
        autocomplete="username"
        formControlName="email"
        required
        class=""
        id="ShowUEmail"
        name="email"
        type="email"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
      />
    </div>
  </div>

  <!-- <div class="login__input-container">
    <div class="description">
      <label for="ShowUPhone">{{ labelPhone }} </label>
    </div>
    <div class="original">
      <input
        formControlName="phone"
        required
        class=""
        id="ShowUPhone"
        name="phone"
        type="tel"
      />
    </div>
  </div> -->

  <div class="login__input-container">
    <div class="description">
      <label for="ShowUPassword">{{ labelPassword }}</label>
    </div>
    <div class="original">
      <input
        autocomplete="current-password"
        formControlName="password"
        class=""
        id="ShowUPassword"
        required
        name="password"
        type="password"
      />
    </div>
  </div>
  <div class="singing-container">
    <div class="flex space-between">
      <button
        [disabled]="!authForm.valid || isSubmit"
        class="button delete radius large register-btn"
        type="submit"
        (click)="onSubmit()" 
      >
        {{ labelSubmit }}
      </button>
    </div>
    <div class="form-row">
      <div class="description"></div>
      <div class="original">
<!--        <a [routerLink]="['/', 'accaunt', 'restore']"-->
<!--        ><small>{{ labelForgotPassword }}</small></a-->
<!--        >-->
        <a [routerLink]="['/', 'accaunt', 'login']"
        ><small>{{ labelLogin }}</small></a
        >
      </div>
    </div>
  </div>


</form>


