<div class="review-container">
    <div class="review-container__items ">
        <div class="review-container__items__item">
            <div class="cell cell1">№PT0001
            <div class="review-container__items__item__drop"   [ngClass]="{'changeIcon':itemStatus}" (click)="itemDrop()">
                <img src="assets/icons/arrow-down.svg">
            </div></div>
            <div class="cell cell2" > <p > 1 травня 2020</p></div>
            <div class="cell cell3"></div>
            <div class="cell cell4"><p *ngIf="!itemStatus">133 товар на 2333500 грн</p></div>
<!--            <div *ngIf="itemStatus"> Статус замов</div>-->
            <div class="cell status green  cell5 "><div class="status-block"><p class="status-order" *ngIf="itemStatus">Статус замовлення</p><p >Виконано</p>
                <button  *ngIf="itemStatus">Залишити відгук про замовлення</button></div></div>
<!--            [ngClass]="{'review-container__items__item__drop-block':itemStatus}"-->
            <div class="review-container__items__item__drop-block cell6" *ngIf="itemStatus">
                <div class="drop__container">
                    <div class="drop-photo drop__item"><img class="cell__img" src="assets/icons/user.svg"/></div>
                    <div class="drop-price  drop__item">
                       <p class="blue">Vbrana(140001)</p>
                        <p>2000 грн</p>
                    </div>
                    <div class="drop-count  drop__item"><p>1 штука</p></div>
                    <div class="drop-second-price  drop__item"><p>2000 грн</p></div>
                </div>
                <div class="drop__container">
                    <div class="drop-photo drop__item"><img class="cell__img" src="assets/icons/user.svg"/></div>
                    <div class="drop-price  drop__item">
                        <p class="blue">Vbrana(140001)</p>
                        <p>2000 грн</p>
                    </div>
                    <div class="drop-count  drop__item"><p>1 штука</p></div>
                    <div class="drop-second-price  drop__item"><p>2000 грн</p></div>
                </div>
                <div class="drop__container">
                    <div class="drop-photo drop__item"><img class="cell__img" src="assets/icons/user.svg"/></div>
                    <div class="drop-price  drop__item">
                        <p class="blue">Vbrana(140001)</p>
                        <p>2000 грн</p>
                    </div>
                    <div class="drop-count  drop__item"><p>1 штука</p></div>
                    <div class="drop-second-price  drop__item"><p>2000 грн</p></div>
                </div>
            </div>
            <div *ngIf="itemStatus" class="drop__container__bottom">
                <div class="bottom-first-left">
                    <p>Доставка : Нова Пошта</p>
                </div>
                <div class="bottom-first-right">
                    <p class="d4">Разом до оплати</p>
                </div>
                <div class="bottom-first-o">
                    <p>відповідно до тарифів перевізника</p>
                    <p class="d4">13000 грн</p>
                </div>
            </div>
        </div>

        <div class="review-container__items__item">
            <div class="cell">№PT0001
                <div class="review-container__items__item__drop">
                    <img src="assets/icons/arrow-down.svg">
                </div></div>
            <div class="cell">163 травня 2020</div>
            <div class="cell"> <img class="cell__img" src="assets/icons/en.svg"/></div>
            <div class="cell">1 товар на 2 500 грн</div>
            <div class="cell yellow status ">Обробляється</div>

        </div>
        <div class="review-container__items__item">
            <div class="cell">№PT0001
                <div class="review-container__items__item__drop">
                    <img src="assets/icons/arrow-down.svg">
                </div></div>
            <div class="cell">16 травня 2020</div>
            <div class="cell"> <img class="cell__img" src="assets/icons/en.svg"/></div>
            <div class="cell">1 товар на 2 500 грн</div>
            <div class="cell red status">Скасовано</div>

        </div>



    </div>
</div>
