<div class="review-container">
    <div class="review-container__sort-block">
        <div class="sort-content">
            <!-- <mat-form-field appearance="standart" class="sort-products">
                <div class="sort-products-wrapper">
                    <mat-label class="sort-products-label">{{ 'sortBy.sort' | translate }}</mat-label>
                    <mat-select (selectionChange)="onSortingChanged($event.value)">
                        <mat-option [value]="'minPrice'">
                            {{ 'sortBy.minPrice' | translate}}
                        </mat-option>
                        <mat-option [value]="'maxPrice'">
                            {{ 'sortBy.maxPrice' | translate}}
                        </mat-option>
                        <mat-option [value]="'rating'">
                            {{ 'sortBy.rating' | translate}}
                        </mat-option>
                        <mat-option [value]="'promotions'">
                            {{ 'sortBy.promotions' | translate}}
                        </mat-option>
                    </mat-select>
                </div>
            </mat-form-field> -->
            <mat-form-field appearance="standart" class="sort-products">
                <div class="sort-products-wrapper">
                    <mat-label class="sort-products-label"> {{ 'sortBy.view' | translate }}: </mat-label>
                    <mat-select (selectionChange)="onCardNumberChanged($event.value)">
                        <mat-option *ngFor="let card of cardNumbers" [value]="card">
                        {{ card }}
                        </mat-option>
                    </mat-select>
                </div>
            </mat-form-field>
        </div>
    </div>
    <div class="orders-container">
        <app-my-order-product-item 
            *ngFor="let myOrder of myOrders"
            [order]="myOrder">
        </app-my-order-product-item>
    </div>

    <app-pagination
      class="radius"
      [page]="page"
      [total]="allOrders?.data.length > 0 ? Math.ceil(allOrders.count / allOrders.take): 0"
      [pagesToShow]="5"
      (pageChanged)="pageChangedHandler($event)"
    ></app-pagination>
</div>
