.review-container{
  width: 100%;
  .review-container__items{
    padding-top: 50px;
    overflow: auto;
    min-width: 600px;
    .review-container__items__item{
      width: 100%;
      display: grid;
      grid-template-columns: 110px 0.5fr 40px 0.7fr 0.4fr;
      background-color: white;
      box-shadow: 0px 3px 6px #00000029;
      border-right: 4px;
      margin-bottom: 20px;
      .cell{
        align-items: center;
        flex-direction: row;
        justify-content: center;
        text-align: center;

        .cell__img{
          width: 40px;
        }

      }
      .status{

      }
      .green{
        color: #42996F;
      }
      .red{
        color:#9F1941
      }
      .yellow{
        color:#FFC400 ;
      }
      .status{
        border-left: 1px solid silver;
      }
    }

  }
}
