.review-container {
  width: 100%;

  .review-container__items {

    overflow: auto;
    min-width: 800px;
    padding: 50px 10px 0 10px;

    .review-container__items__item {
      padding-top: 5px;
      min-height: 45px;
      width: 100%;
      display: grid;
      grid-template-columns: 120px 0.5fr 40px 0.7fr 0.5fr;
      grid-template-areas:
        "a b c d e "
        "q q q q e"
        "m m m m e";
      background-color: white;
      box-shadow: 0px 3px 6px #00000029;
      border-right: 4px;
      margin-bottom: 20px;

      .review-container__items__item__drop {
        margin: 12px 0 0 10px;
        width: 20px;
        height: 20px;
      }

      .cell {

        align-items: center;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        p{
          margin-bottom:0 ;
        }


        .cell__img {
          width: 40px;
        }

      }

      .status {
        display: flex;
        align-items: start;
        flex-direction: row;
        justify-content: center;
      }

      .green {
        color: #42996F;
      }

      .red {
        color: #9F1941
      }

      .yellow {
        color: #FFC400;
      }

      .status {
        border-left: 1px solid silver;
      }
    }
  }
}

.changeIcon {
  img {
    transform: rotate(180deg);
  }
}

.review-container__items__item__drop-block {
  min-height: 200px;
  width: 100%;
  //background-color: #9F1941;

.drop__container{
border-bottom:1px solid #707070;
  padding-bottom: 20px;
  display: grid;
  grid-template-areas:
        "drop-photo drop-price drop-count drop-second-price ";
  grid-template-columns: 0.3fr 0.5fr 0.5fr 0.5fr;
}
  .drop__item {
    padding-top: 10px;
    p{
      margin-bottom: 0;
    }
  text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .drop-photo {
    margin-left: 10px;
    width: 75px;
    height: 75px;

  }

  .drop-price {
      p{
        margin-bottom: 5px;
      }
    .blue{
      color:#3D67C9;
    }

  }

  .drop-count {

  }

  .drop-second-price {

  }

}
.cell1 {
  grid-area: a;
}

.cell2 {
  grid-area: b;
}

.cell3 {
  grid-area: c;
}

.cell4 {
  grid-area: d;
}

.cell5 {
  display: flex;
  flex-direction: column;
  grid-area: e;
  padding-top: 10px;
}

.cell6 {
  grid-area: q;
}


.drop__container__bottom{
  padding-top: 10px;
  padding-bottom: 10px;
  grid-area:m;
  height: 100px;
  display: grid;
  grid-template-areas:
        "r t t o ";
  grid-template-columns: 1fr 1fr 0.5fr 1.5fr;
  .d4{
    margin: 0;
  }

}
.bottom-first-left{

  grid-area:r;
}
.bottom-first-right{

  grid-area:t;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.bottom-first-o{
  grid-area:o;
  display: flex;
  align-items:center;
  justify-content: space-between;
}

.status-block{
  width: 100%;
  padding: 0 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
    .status-order{
      color: black;
      padding-bottom: 60px;
       border-left: none;
    }
  &:nth-child(2){
    padding-bottom: 60px;
  }


button{
  margin: 0 5px;
  background-color: #9F1941;
  max-width: 240px;
  width: 100%;
 margin-top: 100px;
  border: none;
  border-radius: 5px;
  height: 40px;
  color: white;
}


}
@media screen and (max-width: 1300px){

}
