@import "~src/styles/raisins/variables";
@import "~src/styles/raisins/mixins";

.card {
  padding: $space;
  background-color: $white;
  @include material-shadow(1, 1, $gray400);
  border-radius: $radius;
}

rap-breadcrumbs {
  margin: $space 0;
}
