@import "~src/styles/raisins/variables";
@import "~src/styles/raisins/mixins";

:host {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;

  ::ng-deep rap-breadcrumb a {
    padding-left: 4px !important;
    padding-right: 4px !important;
  }
}


rap-breadcrumb {
  &::after {
    content: "";
    width: 1px;
    height: 20px;
    background-color: $gray700;
    transform: rotate(12.5deg);
    z-index: 100;
  }
  &:last-child {
    &::after {
      content: unset;
    }
  }
}
