<rap-breadcrumbs [breadcrumbs]="breadcrumbs" class="breadcrumbs-container"></rap-breadcrumbs>

<div class="row">
  <div class="col col-side filter-margin-left">
    <app-filter-page  *ngIf="manufacturer.products.data.products.length"
      [isManufacturerPage]="isManufacturerPage"
      [manufacturerPageId]="id"
      (filterChanged)="onFilterChanged($event)">
    </app-filter-page>
  </div>
  <div class="col">
    <div class="card radius">
      <div class="golden">
        <div class="short">
          <div class="ratio" style="background-color: white;">
            <div class="r3x1">
              <img
                [src]="host + manufacturer.item?.image?.src_mini"
                [alt]="manufacturer.item?.name"
                class="contain"
              />
            </div>
          </div>
        </div>
        <div class="long padding">
          <h1 style="margin-top: 0;">{{ manufacturer.item.name }}</h1>

          <p>{{ manufacturer.item?.description }}</p>
        </div>
      </div>
    </div>
    <div class="col">
      <br>
      <br>
      <div class="sort-content" *ngIf="manufacturer.products.data.products.length" >
                <app-filter-page class="filter-block-btn filter-hidden"  (filterChanged)="onFilterChanged($event)"></app-filter-page>
        <mat-form-field appearance="standart" class="sort-products   sotr-count-prodyct">
          <div class="sort-products-wrapper">
            <mat-label class="sort-products-label" [ngClass]="{'sortNone':selectStatusBy}">{{ 'sortBy.sort' | translate }}</mat-label>
            <mat-select     (selectionChange)="onSortingChanged($event.value)">
              <mat-option  [value]="'minPrice'">
                {{ 'sortBy.minPrice' | translate}}
              </mat-option>
              <mat-option [value]="'maxPrice'">
                {{ 'sortBy.maxPrice' | translate}}
              </mat-option>
              <mat-option [value]="'rating'">
                {{ 'sortBy.rating' | translate}}
              </mat-option>
              <mat-option [value]="'promotions'">
                {{ 'sortBy.promotions' | translate}}
              </mat-option>
            </mat-select>
          </div>
        </mat-form-field>
        <mat-form-field appearance="standart" class="sort-products sort-count-product">
          <div class="sort-products-wrapper">
            <mat-label class="sort-products-label" [ngClass]="{'sortNone':selectStatus}"> {{ 'sortBy.view' | translate }}: </mat-label>
            <mat-select (selectionChange)="onCardNumberChanged($event.value)">
              <mat-option *ngFor="let card of cardNumbers" [value]="card">
                {{ card }}
              </mat-option>
            </mat-select>
          </div>
        </mat-form-field>
      </div>
      <h1 style="margin-top: 0;">{{ product?.item?.name }}</h1>
      <div class="grid">
        <app-product-list style="margin: 16px;" [products]="manufacturer.products.data.products"
        ></app-product-list>
      </div>
      <app-pagination
              class="radius"
              [page]="manufacturer?.page"
              [total]="manufacturer?.products?.data?.products?.length > 0 ? Math.ceil(manufacturer?.products?.count / manufacturer?.products?.take): 0"
              [pagesToShow]="5"
              (pageChanged)="pageChangedHandler($event)"
      ></app-pagination>

  </div>
</div>
</div>
