.check-item{
  margin: 0 6px;
  width: 40px;
  height: 30px;
  background: silver;
  border-radius: 8px;
  //border: 1px solid #4c4c4c;
}

//.selected{
 //border: 2px solid darkred;
//}
.check-image{
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
