<rap-container id="small-bar">
  <div  class="flex nav-panel" >
    <ul class="top-panel-nav nav-desktop">
      <li *ngFor="let link of clientMenu.listMain">
        <a [ngClass]="{ disabled: link.link == null }" [routerLink]="['/'].concat(link.link.split('/'))"
          routerLinkActive="active">{{ link.description.title }}</a>
      </li>
    </ul>

    <div class="block-currency-language ">
      <div class="currency-conteiner ">
        <ul class="top-panel-nav currencyActive">
          <li (mouseout)="currentlyStatus=false" (mouseover)="currentlyStatus=true">
            <div *ngFor="let c of currency.data">
              <div class="active-currancy" *ngIf=" currency.current.id == c.id">
              <span>
                {{c.currency_title}}
                <img class="fill-svg" src="assets/icons/drop-down.svg"  /> 
              </span>
              </div>
            </div>
            <ul class="currencyBar" [ngClass]="{inline: currentlyStatus==true}">
              <li *ngFor="let c of currency.data">
                <a [ngClass]="{ active: currency.current.id == c.id }" class="currency-content"
                  (click)="onClickCurrency($event, c)">
                  <div  class="currency-logo">
                    <p *ngIf="c.simbol_left!==''" class="currency-img">{{c.simbol_left}}</p>
                    <p *ngIf="c.simbol_right!==''" class="currency-img">{{c.simbol_right}}</p>
                  </div>
<!--                    <img class="currency-img" src="{{ currencyImgs[c.currency_title] }}" />-->
                    - <span class="currency-text">{{ c.currency_title }}</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="lang-conteiner">
        <ul class="top-panel-nav langActive ">
          <li (mouseout)="langStatus=false" (mouseover)="langStatus=true">
            <div *ngFor="let item of allLangs?.data">
              <div class="active-language" *ngIf="appLang.current == item.code">
                  <img class="lang-item-flag" src="{{ item.flag }}">
                  <span class="active-lang-locale">{{item.title}}</span>
                  <img class="fill-svg" src="assets/icons/drop-down.svg" /> 
              </div>
            </div>
            <ul class="langBar" [ngClass]="{inline: langStatus==true}">
              <li   class="lang-item" *ngFor="let item of allLangs?.data">
                <a [ngClass]="{ active: appLang.current == item.code }"
                   (click)="changeLang(item.code, item.flag)">
                  <div class="flag-block">
<!--                    <img class="lang-item-flag all-langs-flags" src="{{ countryFlagsImgs[item.name] }}">-->
                    <img class="lang-item-flag all-langs-flags" src="https://api.showu.com.ua{{ item.flag }}" >
                    <span class="lang-item-name"> {{ item.title }} </span>
                  </div>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div>
  </div>
</rap-container>
