<form [formGroup]="authForm" (ngSubmit)="onSubmit()" class="login">
  <div *ngIf="formAuthControls.login.invalid && (formAuthControls.login.dirty || formAuthControls.login.touched)" class="error-container">
    <div *ngIf="formAuthControls.login.errors.required" class="reset-success-content">
      <div class="success-message">
        <img class="success-message-icon" src="assets/icons/mistake-red.svg"/>
        <div class="success-message-text">{{ 'accaunt.requiredUsername' | translate }}</div>
      </div>
    </div>
  </div>
  <div *ngIf="formAuthControls.password.invalid && (formAuthControls.password.dirty || formAuthControls.password.touched)">
    <div *ngIf="formAuthControls.password.errors.required" class="reset-success-content">
      <div class="success-message">
        <img class="success-message-icon" src="assets/icons/mistake-red.svg"/>
        <div class="success-message-text">{{ 'accaunt.requiredPassword' | translate }}</div>
      </div>
    </div>
  </div>
  <div class="auth-title-content">
    <div class="auth-title">{{ 'accaunt.login' | translate }}</div>
  </div>
  <div class="login__input-container">
    <div class="description">
      <label for="ShowULogin">{{ 'accaunt.accauntEmail' | translate }} </label>
    </div>
    <div class="original">
      <input
        autocomplete="username"
        formControlName="login"
        required
        class=""
        id="ShowULogin"
        name="login"
        type="text"
      />
      <!-- placeholder="{{ placeholderLogin }}" -->
    </div>
  </div>

  <div class="login__input-container">
    <div class="description">
      <label for="ShowUPassword">{{ labelPassword }}</label>
    </div>
    <div class="original">
      <input
        autocomplete="current-password"
        formControlName="password"
        class=""
        id="ShowUPassword"
        required
        name="login"
        type="password"
      />
      <!-- placeholder="{{ placeholderPassword }}" -->
    </div>
  </div>

  <div class="singing-container">
    <div class="flex space-between singing-container__sing-in-btn">
      <button *ngIf="!isCheckoutComponent"
        [disabled]="!authForm.valid"
        class="button delete large login-btn"
        type="submit"
        (click)="goToHomePage()"
      >
        {{ 'accaunt.login' | translate }}
      </button>
      <button *ngIf="isCheckoutComponent"
        [disabled]="!authForm.valid"
        class="button delete large login-btn"
        type="submit"
        (click)="goToCheckoutComponent()"
      >
        {{ 'accaunt.login' | translate }}
      </button>
<!--      <div class="singing-container__sing-in-btn__remember">-->
<!--        <input type="checkbox">-->
<!--        <p>Remember me</p>-->
<!--      </div>-->
    </div>
    <div class="form-row register-container ">
      <div class="description"></div>
      <div class="original">
        <a [routerLink]="['/', 'accaunt', 'restore']"
        ><small class="lost-pass-underline">{{ labelForgotPassword }}</small></a
        >
        <a [routerLink]="['/', 'accaunt', 'register']"
        ><small>{{ labelReg }}</small></a
        >
      </div>
    </div>
  </div>

</form>

