@import "~src/styles/raisins/variables";
@import "~src/styles/raisins/mixins";

.sing-container{
  //padding: 0 2rem;
  min-height: 550px;
  margin: 0 auto;
  //max-width: 670px;
  width: 100%;
  padding-bottom: 150px;

}
.breadcrumbs-container{
  padding-bottom: 50px;
}

.lost-accaunt-title {
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 400;
}
