<rap-breadcrumbs [breadcrumbs]="breadcrumbs" class="breadcrumbs-container"></rap-breadcrumbs>
<div class="sing-container">
  <div *ngIf="!isResetBtnClicked" class="lost-accaunt-title">{{ 'accaunt.lostPassword' | translate }}</div>

  <app-restore-form
    [labelEmail]="'accaunt.email' | translate"
    [labelLogin]="'accaunt.signin' | translate"
    [labelReg]="'accaunt.register' | translate"
    [labelForgotPassword]="'accaunt.email' | translate"
    [labelSubmit]="'accaunt.restore' | translate"
    [placeholderEmail]="'accaunt.enterEmail' | translate"
    (resetBtnClicked)="resetBtnClicked($event)"
  ></app-restore-form>
</div>
