<rap-breadcrumbs [breadcrumbs]="breadcrumbs" class="breadcrumbs-container"></rap-breadcrumbs>
<div class="sing-container">
  <show-u-title [title]="'accaunt.restore' | translate"></show-u-title>

  <app-restore-form
    [labelEmail]="'accaunt.email' | translate"
    [labelLogin]="'accaunt.signin' | translate"
    [labelReg]="'accaunt.register' | translate"
    [labelForgotPassword]="'accaunt.email' | translate"
    [labelSubmit]="'accaunt.restore' | translate"
    [placeholderEmail]="'accaunt.enterEmail' | translate"
  ></app-restore-form>
</div>
