.not-wrapper{
  margin: 0 auto;
  width: 94vw;
  min-width: 94vw;
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  word-wrap: break-word;
  .container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    word-wrap: break-word;
    .image-wrapper{
      width: 36vw;
      img{
        width: 100%;
        height: auto;
      }
    }
    .text-wrapper{
      word-wrap: break-word;
      max-width: 510px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      div{
        word-wrap: break-word;
      }

       .header{
        color: #333333;
         font-size: 65px;
      }
      .content{
        font-size: 24px;
        color: #333333;
        a{
          color: #9F1941;
        }
      }
    }
  }
}
@media  screen and(max-width: 1100px) {
  .not-wrapper{
    width: 94vw;
    max-width: 94vw;
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    .container{
      width: 100%;
      display: flex;
      justify-content:center ;
      margin: 0 auto;
      .image-wrapper{
        max-width: 300px;
        width: 300px;
        display: flex;
        justify-content:center ;
        flex-direction: row;
        img{
          width: 100%;
          height: auto;
        }
      }
      .text-wrapper{
        max-width: 510px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .header{
          color: #333333;
          font-size: 40px;
        }
        .content{
          font-size: 20px;
          color: #333333;
          a{
            font-size: 20px;
            color: #9F1941;
          }
        }
      }
    }
  }
}
@media  screen and(max-width: 840px) {
  .not-wrapper{
    width: 94vw;
    max-width: 94vw;
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    .container{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      .image-wrapper{
        max-width: 300px;
        width: 300px;
        display: flex;
        justify-content:center ;
        flex-direction: row;
        img{
          width: 100%;
          height: auto;
        }
      }
      .text-wrapper{
        max-width: 510px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .header{
          color: #333333;
          font-size: 40px;
        }
        .content{
          font-size: 20px;
          color: #333333;
          a{
            font-size: 20px;
            color: #9F1941;
          }
        }
      }
    }
  }

}
