<form [formGroup]="callbackForm" (submit)="onSubmit()" class="callback-dialog-container" *ngIf="isCallbackForm">
  <div class="dialog-header">
    <span class="callback-dialog-header">{{ "callback.orderCall" | translate }}</span>
    <span class="material-icons close-icon" (click)="onNoClick()">close</span>
  </div>
  <div class="form-row">
    <div class="original">
      <input
        class="callback-input"
        type="text"
        id="name"
        placeholder="{{ 'callback.yourName' | translate }}"
        required
        formControlName="name"
      />
    </div>
  </div>

  <div class="form-row">
    <div class="original">
      <input
        class="callback-input"
        type="text"
        id="phone"
        placeholder="{{ 'callback.yourPhone' | translate }}"
        formControlName="phone"
      />
    </div>
  </div>

  <div class="form-row">
    <div class="original">
      <div class="flex">
        <button
          [disabled]="!callbackForm.valid"
          type="submit"
          class="button callback-submit-button"
        >
          {{ "callback.submitApplication" | translate }}
        </button>
      </div>
    </div>
  </div>
</form>
<div *ngIf="!isCallbackForm" class="callback-successfull-container">
  <div class="dialog-header">
    <span class="material-icons close-icon" (click)="onNoClick()">close</span>
  </div>
  <div class="callback-successfull-message">
    <span class="callback-successfull-header">{{ "callback.thankForRequest" | translate }}</span>
    <span>{{ "callback.managerContact" | translate }}</span>
  </div>
</div>
