@import "~src/styles/raisins/variables";
@import "~src/styles/raisins/mixins";

:host {
  z-index: 1000;
  color: inherit;
  display: block;
}

a {
  display: block;
  padding: $space/1.25 $space/2;

  &:hover {
    background-color: $gray200;
    text-decoration: none;
    color: $primary;
  }
}

div.submenu {
  text-transform: none;
  color: $gray850;
  font-size: 0.9em;
//   border: dashed 1px red;

  showu-menu-sub-item ::ng-deep a {
    padding: $space/4 $space/2;
  }
}
