<rap-breadcrumbs [breadcrumbs]="breadcrumbs" class="breadcrumbs-container"></rap-breadcrumbs>

<div class="golden">
  <div class="short">
    <product-image-view
      class="sticky"
      [host]="'https://api.showu.com.ua/'"
      [images]="product.item.images"
      [main]="product?.item?.image?.src"
    ></product-image-view>
  </div>
  <div class="long">
    <div class="card">
      <h4 class="title product-name">
        {{ product.item?.description?.name }}
      </h4>
      <h4 class="title model-title">
        {{ "product.productCode" | translate }}: {{ product.item.model }}
      </h4>
      <div class="flex">
        <rap-rating [rating]="product.item.rating"></rap-rating>
      </div>
      <!-- <hr />
      <p>
        {{ product.item.description?.meta_discription }}
      </p> -->
      <hr />
      <div class="price flex v_center space">
        <b
          >{{ currency.current.simbol_left
          }}{{ product.item.price * currency.current.value
          }}{{ currency.current.simbol_right }}</b
        >
        <span
          class="stock-status"
          [ngClass]="{ 'in-stock': product.item.stock_status_id }"
          >{{ product.item.stock_status_id ? "in stock" : "sold out" }}</span
        >
      </div>
      <hr />
      <div>
        <div class="product-description-title">
          {{ 'product.description' | translate }}
        </div>
        <div class="read-text">
          {{ product.item.description?.discription }}
        </div>
        <div>
          {{ product.item.description?.meta_discription }}
        </div>
      </div>
      <hr />
      <div class="flex">
        <rap-count-input
          class="add-to-card-content-input"
          [min]="1"
          [max]="20"
          [(value)]="count"
        ></rap-count-input>
        <button
          class="button radius large delete add-to-catt-btn"
          (click)="add(product.item)"
        >
          <rap-svg-ico class="basket-icon" [src]="'assets/icons/basket_1.svg'"></rap-svg-ico>
          <span class="add-to-card-text">{{ "product.addToCart" | translate }}</span>
        </button>
      </div>
      <div class="add-to-wishlist">
        <img class="heart-icon" src="assets/icons/heart_1.svg"/>
        <span>
          {{ 'wishlist.addToWishlist' | translate }}
        </span>
      </div>
      <hr />
      <div class="product-attributes-content" [formGroup]="productViewForm">
<!--        <div class="product-label">-->
<!--          <div *ngFor="let attrb of attrMapArr">-->
<!--            <mat-label class="product-label-text">{{ attrb }}</mat-label>-->
<!--          </div>-->
<!--        </div>-->
<!--        <mat-form-field appearance="standart" class="product-attributes-field" *ngIf="isAttrColor">-->
<!--          <mat-select formControlName="color">-->
<!--            <mat-option *ngFor="let item of attrColor" [value]="item.text">-->
<!--              <div>{{ item.text }}</div>-->
<!--            </mat-option>-->
<!--          </mat-select>-->
<!--        </mat-form-field>-->
      </div>
      <div class="product-attributes-content" [formGroup]="productViewForm">
<!--        <div></div>-->
<!--        <mat-form-field appearance="standart" class="product-attributes-field" *ngIf="isAttrSize">-->
<!--          <mat-select formControlName="size">-->
<!--            <mat-option *ngFor="let item of attrSize" [value]="item.text">-->
<!--              <div>{{ item.text }}</div>-->
<!--            </mat-option>-->
<!--          </mat-select>-->
<!--        </mat-form-field>-->
      </div>
    </div>

    <div class="manufacturer" style="margin: 1rem 0;">
      <div class="golden manufacturer-shadow">
        <div class="long padding">
          <a [routerLink]="['/manufacturer', product.item.manufactured?.id]"
            ><h6 style="margin: 4px 0;">
              {{ product.item.manufactured?.description?.name }}
            </h6></a
          >
          <div class="flex">
            <rap-rating
              [rating]="product.item.manufactured?.rating"
            ></rap-rating>
          </div>
          <br />
          <p>{{ product.item.manufactured?.description?.description }}</p>
        </div>
        <div class="short" style="align-items: center;">
          <div class="ratio" style="width: 100%; margin: auto;">
            <div class="r3x1">
              <img
                src="{{
                  'https://api.showu.com.ua/' +
                    product.item.manufactured?.image.src_mini
                }}"
                alt="{{ product.item.manufactured?.description?.name }}"
                class="contain radius"
              />
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

</div>
<div class="white-group">
<section class="  card-description">
  <div class="card-description__container">

  <rap-step-tabs  >
    <rap-step-tab [title]="'product.description' | translate">
      <div
              class="read-text"
      >{{ product.item.description?.discription }}</div>
    </rap-step-tab>
    <rap-step-tab [title]="'product.additionalInfo' | translate">
      <table class="table">
        <tbody>
        <tr *ngFor="let item of product.attributes.attrybutes">
          <td width="35%">
            <div class="dotted-caption">
              <span>{{ item.attribyte.description?.name }}</span>
            </div>
          </td>
          <td>{{ item.text }}</td>
        </tr>
        </tbody>
      </table>
    </rap-step-tab>
    <rap-step-tab [title]="'review.reviews' | translate">
      <app-review-list
              *ngIf="product.reviews.data.length > 0; else noReviews"
              [reviews]="product.reviews.data"
      ></app-review-list>
      <app-pagination
              class="radius"
              [page]="product.reviewPage"
              [total]="Math.ceil(product.reviews.count / product.reviews.take)"
              [pagesToShow]="5"
              (pageChanged)="pageChangedHandler($event)"
      ></app-pagination>
      <ng-template #noReviews>
        <div class="d4">{{ "review.no_reviews" | translate }}</div>
      </ng-template>
      <div class="add-review-container">
        <form class="add-review-container__form" [formGroup]="testGroup" (ngSubmit)="addReview()">
        <div class="add-review-container__header">
          <p class="text-bold">{{'add-review.add-review' | translate}}<sup class="su-required">*</sup></p>
<!--          <p>Your email address will not be published. Required fields are marked </p>-->
        </div>
        <div class="add-review-container__rating">
          <p class="text-bold">{{'add-review.rating' | translate}} <sup class="su-required">*</sup></p>
          <div class="add-review-container__rating__stars">
            <ng-container *ngFor="let star of stars">
              <label [for]="star.id">
                <img [src]="star.src">
                <input [id]="star.id" type="radio" formControlName="star" [value]="star.value">
              </label>
            </ng-container>
          </div>
        </div>
        <div class="add-review-container__review">
          <p>{{'add-review.your-review' | translate}} <sup class="su-required">*</sup> </p>
          <textarea formControlName="text" rows="11" class="add-review-container__review__area"></textarea>
        </div>
        <div class="add-review-container__user-inf">
          <div class="add-review-container__user-inf__input-block">
            <p>{{'add-review.name' | translate}} <sup class="su-required">*</sup></p>
            <input formControlName="name" type="text">
          </div>
          <div class="add-review-container__user-inf__input-block">
            <p>{{'add-review.email' | translate}} <sup class="su-required">*</sup></p>
            <input formControlName="email" type="text" >
          </div>
        </div>
          <div class="add-review-container__submit">
            <button type="submit"   [disabled]="!testGroup.valid">Submit</button>
          </div>
        </form>
      </div>
    </rap-step-tab>
  </rap-step-tabs>
  </div>
</section>
<div style="width: 100%;" class="d4 text-center flex row center v_center raleted-container">
  <h1 style="margin-bottom: 0;">{{ "product.related" | translate }}</h1>
</div>

<app-product-slider [products]="product.popular"></app-product-slider>
</div>
