<rap-container>
  <div class="desktop-menu">
    <!-- <app-nav-item *ngFor="let link of categories" [value]="link"></app-nav-item> -->
    <showu-menu-item
      class="root"
      *ngFor="let link of categories"
      [value]="link"
      #categoryItem
    ></showu-menu-item>
    <app-nav-item
      *ngFor="let link of links2"
      [value]="link"
      style="flex: 1;"
    ></app-nav-item>

  </div>
  <div class="mobile-menu">
    <div class="mobile-inside-block">
        <div class="mobile-burger" (click)="burgerMenu(!burgerStatus)">
<!--          <img *ngIf="!burgerStatus" src="../../../../assets/icons/burger.svg">-->

            <div *ngIf="!burgerStatus" class="burger-btn">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <img  class="burger-btn-close" *ngIf="burgerStatus" src="../../../../assets/icons/cancel.svg">
        </div>
        <div class="mobile-search">
            <app-search></app-search>
        </div>
        <div class="mobile-bag">
            <app-cart-button
                    title="Cart [Q+C]"
                    (click)="cart.openCartView()"
            ></app-cart-button>
<!--            <img style="width: 25px; height: 25px;background-color:#242626" src="../../../../assets/icons/bag1.svg"/>-->
<!--            <img src="../../../../assets/icons/bag1.svg">-->
        </div>
      <div class="small-menu" *ngIf="burgerStatus" @slideLeft>
          <div class="small-menu-inside">
              <app-nav-list   [categories]="categories" (goTo)="burgerMenu()" (showMore)="toggle($event)" [selectedCategorySet]="categorySet"></app-nav-list>
              <app-nav-item
                      *ngFor="let link of links2"
                      [value]="link"
                      style="flex: 1;"
              ></app-nav-item>
          </div>

          <div class="small-menu-item">
              <div class="small-accaunt-item"  >
                                <app-accaunt-button
                                        [title]="
                  auth.authenticated
                    ? 'Hi, ' + accaunt.current?.user.first_name
                    : ('accaunt.accaunt' | translate)
                "
              >

                <ul class="user-nav" *ngIf="auth.authenticated">
                  <li>
                    <a [routerLink]="['/', 'accaunt', 'profile']">{{"accaunt.profile" | translate}}</a>
                  </li>
                  <li>
                    <a (click)="auth.logout(); auth.onAuth()">{{
                        "accaunt.logout" | translate
                        }}</a>
                  </li>
                </ul>
                <ul class="user-nav" *ngIf="!auth.authenticated">
                  <li>
                    <a [routerLink]="['/', 'accaunt', 'login']">{{
                        "accaunt.signin" | translate
                        }}</a>
                  </li>
                  <li>
                    <a [routerLink]="['/', 'accaunt', 'register']">{{
                        "accaunt.register" | translate
                        }}</a>
                  </li>
                </ul>
              </app-accaunt-button>
              </div>

              <span (click)="cart.openFavoriteView() " (click)="burgerStatus=false" class="small-whish-list">
              <app-cart-favorite-button  > </app-cart-favorite-button> <p>{{"nav.wishes"|translate}}</p>
              </span>
          </div>

      </div>
    </div>

  </div>
</rap-container>
