@import "~src/styles/raisins/variables";
@import "~src/styles/raisins/mixins";

:host {
  display: block;
  position: relative;
  z-index: 1;
  // background-color: $gray800;
  background-color: lighten(mix($gray800, darken($blue, 30%)), 5%);

  color: $white;
}

div {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;

  & > app-nav-item,
  & > showu-menu-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    // margin-left: $space/4;

    border: solid $gray700;
    border-width: 0 1px 0 0;
    &:first-child {
      border-width: 0 1px 0 1px;
    }
    & > a {
      display: block;
      padding: $space $space/8 $space $space/2;
      // margin-right: $space/4;
      margin-top: $space/4;
      text-transform: uppercase;
      text-align: center;

      &.disabled {
        cursor: not-allowed;
        text-decoration: none;
        opacity: 0.6;
      }
    }
  }
}

@include screen-w(768px) {
  rap-container {
    margin: 0;
  }
  div {
    flex-direction: column;
    & > app-nav-item,
    & > showu-menu-item {
      border: 0;
      margin: 0;
    }
  }
}
.mobile-menu{
  width: 100%;
  height: 43px;
  background-color:#242626;
  display: none;


}
.mobile-inside-block{
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  //background-color: #9F1941;

}
.mobile-search{
  width: 70%;
  //height: 20px;
}
.small-menu{
  left:-3%;
  top:100%;
  position: absolute;
  z-index: 10000;
  width:80vw;
  min-height: 80vh;
  background-color:#242626;
  list-style: none;
  display: flex;
  justify-content: space-between;
 flex-direction: column;
  //padding-bottom: 2%;
  ul{
    list-style: none;
  }
  div{
    font-size: 16px;
  }


}
.small-categories{
  div{
    margin-left: 5%;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    font-size: 20px;
    img{
      width: 20px;
    }
    ul{
      margin-left: 5%;
    }

  }
}
.small-nav-item{
  display: flex;
  flex-direction: column;
  margin-top:10%;
}
.small-whish-list{
  //margin-bottom: 10%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  p{
    font-size: 16px;
    margin-top: 7px;
  }

}

.user-nav {
  position: relative;
  list-style: none;
  background-color:#242626;
  margin: unset;

  li {
    a {
      display: block;
      padding: $space/2;
      @include transition();
      // transition: all .3s $fn;
      &:hover {
        background-color: $primary;
        color: $white;
      }
    }
  }
}
.small-menu-inside{
  margin-left: 17px;
}
.small-menu-item{
  margin-left: 0px;
div{

}
}
.burger-btn{
  width: 30px;
  height: 18px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  span{
    width: 100%;
    height: 1px;
    background-color: white;
  }
}
.burger-btn-close{
  background-color: #242424;
}

@media screen and(max-width:768px) {
  .small-menu{
    div{
      //margin-left: 17px;
    }
  }
  .mobile-menu{
    display: flex;
    justify-content: center;
    flex-direction: row;


  }
  .mobile-burger {
    position: relative;
    z-index: 1000;
    img{
      background-color: white;
      width: 25px;
      margin-top: 3px;
      border-radius: 3px;
      cursor: pointer;
    }
  }
  .mobile-bag{
    img{
      background-color: white;
      width: 25px;
    }
  }
  .desktop-menu{
    display: none;
  }
  .small-nav-item{
    display: flex;
    flex-direction: column;
  }
  .small-whish-list {
  margin-left: 9px;
  }
  .small-accaunt-item{
    padding-left: 17px
  }
}

@media screen and(max-width:600px) {
  .mobile-burger {
    img {
      margin-top: 2%;
    }
  }

  .small-whish-list {
    app-cart-favorite-button {
      width: 30px;
    }
    p {
      margin-top: 7px;
      margin-left: -6px;
    }
  }
}
