@import "~src/styles/raisins/variables";
@import "~src/styles/raisins/mixins";

:host {
  display: block;
  position: relative;
  // background-color: $gray800;
  background-color: lighten(mix($gray800, darken($blue, 30%)), 5%);

  color: $white;
}

div {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;

  & > app-nav-item,
  & > showu-menu-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    // margin-left: $space/4;

    border: solid $gray700;
    border-width: 0 1px 0 0;
    &:first-child {
      border-width: 0 1px 0 1px;
    }
    & > a {
      display: block;
      padding: $space $space/8 $space $space/2;
      // margin-right: $space/4;
      margin-top: $space/4;
      text-transform: uppercase;
      text-align: center;

      &.disabled {
        cursor: not-allowed;
        text-decoration: none;
        opacity: 0.6;
      }
    }
  }
}

@include screen-w(768px) {
  rap-container {
    margin: 0;
  }
  div {
    flex-direction: column;
    & > app-nav-item,
    & > showu-menu-item {
      border: 0;
      margin: 0;
    }
  }
}
