<!-- <p>showu-home-page works!</p>
<h1>{{data | localDate}}</h1>
<button (click)="data='2008-08-15'; onClick()">2008-08-15 {{i}}</button> -->

<app-sallers-slider
  [auto]="true"
  [timeout]="8000"
  [slides]="slider.promotions.data"
></app-sallers-slider>

<show-u-title
  [title]="'main.wellcome' | translate"
  [subtitle]="'main.openUkraine' | translate"
></show-u-title>

<app-welcome-statistic  id="small-welcome-static"></app-welcome-statistic>

<show-u-title [title]="'main.newCollection' | translate"></show-u-title>

<section class="collections">
  <app-collection-item
    *ngFor="let item of collection.list"
    [item]="item"
    [buttonText]="'collection.details' | translate"
    [routerLinks]="['/', 'collections','view']"
  ></app-collection-item>
  <app-collection-item
    [routerLinks]="['/', 'collections']"
    [buttonText]="'main.viewMoreCollection' | translate"
    [host]="null"
    [item]="{
      title: 'main.moreCollections' | translate,
      cover: 'assets/collections.png',
      subtitle: null,
      id: 0
    }"
  ></app-collection-item>
</section>

  <show-u-title  [title]="'main.bestSellers' | translate"></show-u-title>
  <app-product-slider [products]="product.sallers"></app-product-slider>

<div >
<show-u-title class="title-u" [title]="'main.lastReviews' | translate"></show-u-title>
<app-rewiew-block [reviews]="review.data"></app-rewiew-block>
</div>
<show-u-title style="text-align: start" id="small-best-sellers"
  [title]="'main.popularProducts' | translate"
  [subtitle]="'main.comeClearUsNow' | translate"
></show-u-title>
<app-product-slider [products]="product.popular"></app-product-slider>

<show-u-title [title]="'main.ourManufacturers' | translate"></show-u-title>
<app-manufacturers-slider [list]="manufacturer.list" class="margin-top_-31px"></app-manufacturers-slider>

<br />
<br />
<br />
