@import "~src/styles/raisins/variables";
@import "~src/styles/raisins/mixins";

:host {
  display: block;
  position: relative;
}

.collections {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  app-collection-item {
    width: calc(50% - #{$space});
    margin: $space/2;
  }
}

@include screen-w(1024px) {
  .collections {
    app-collection-item {
      width: calc(50% - #{$space});
      margin: $space/2;
    }
  }
}

@include screen-w(640px) {
  .collections {
    display: flex;
    justify-content: center;
    flex-direction: row;
    app-collection-item {
      box-shadow: none;
      border-radius: 0px;
      width: 95%;
      margin: $space/2;
    }
  }
}
@media screen and (max-width: 768px){
  #small-welcome-static{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #small-best-sellers{
    text-align: start;
  }
  .small-show-title{

    h1{
      color: #9F1941;
      width: 50%;
    }

  }



}
@media screen and (max-width: 768px) {
    .title-u{

    }

}
