<div class="review-container__wrapper">
    <div class="review-container__items ">
        <div class="review-container__items__item" *ngIf="order?.products?.length > 0">
            <div class="cell cell1">
                <p>
                    <!-- №PT0001 -->
                    №{{ orderId }}
                </p>
            <div class="review-container__items__item__drop"   [ngClass]="{'changeIcon':itemStatus}" (click)="itemDrop()">
                <img class="pointer" src="assets/icons/arrow-down.svg">
            </div>
        </div>
            <div class="cell cell2">
                <p> <span> {{ modifyDateString(order?.created_at, 'day') }} </span>
                    <span> {{ modifyDateString(order?.created_at, 'months') | translate }} </span>
                    <span> {{ modifyDateString(order?.created_at, 'year') }} </span>
                </p>
        </div>
            <div class="cell cell3"></div>
            <div class="cell cell4">
                <p *ngIf="!itemStatus">{{ order?.products?.length }} товар на 
                {{ modifyPrice(order?.total) }} {{ 'delivery.uah' | translate }}
            </p>
        </div>
            <div class="cell status green cell5">
                <div class="status-block">
                <p class="status-order" *ngIf="itemStatus">{{ 'cabinet.orderStatus' | translate }}</p>
                <!-- <p>Виконано</p> -->
<!--                    [ngStyle]-->
                <p [style]="{'color': order.status[0].color}">
                    <!-- {{orderStatus}} -->
                   {{ order?.status[0]?.description?.dectiption }}
<!--                    {{ statusCodes[order?.status_id]?.name | translate }}-->
<!--                    {{  statusCodes[order?.status_id]?.color|json}}-->
                </p>
                <button 
                    *ngIf="itemStatus && order?.products?.length > 1"
                    (click)="openReviewModal()"
                    >
                    {{ 'review.leaveReviewAboutOrder' | translate }}
                </button>
                <button 
                    *ngIf="itemStatus && order?.products?.length === 1"
                    [routerLink]="['/products/view/' + order?.products[0].product.id]"
                    >
                    {{ 'review.leaveReviewAboutOrder' | translate }}
                </button>
            </div>
        </div>
<!--            [ngClass]="{'review-container__items__item__drop-block':itemStatus}"-->
            <div class="review-container__items__item__drop-block" *ngIf="itemStatus">
                <div class="drop__container" *ngFor="let order of order.products">
                    <div class="drop-photo drop__item">
                        <div class="drop-photo__img">
                            <img class="cell__img" src="{{ hoststatic + order?.product?.image?.src }}"/>
                        </div>
                    </div>
                    <div class="drop-price  drop__item">
                        <div class="blue order-product-name-container">
                            <span>{{ order?.product?.description?.name }} ({{ order?.product?.model }})</span> 
                           <!-- Vbrana(140001) -->
                        </div>
                        <p>{{ modifyPrice(order?.product?.price) }} {{ 'delivery.uah' | translate }}</p>
                    </div>
                    <div class="drop-count  drop__item"><p>{{ modifyPrice(order?.quantity) }} {{ 'delivery.pcs' | translate }}</p></div>
                    <div class="drop-second-price  drop__item"><p>{{ modifyPrice(order?.product?.price) }} {{ 'delivery.uah' | translate }}</p></div>
                </div>
            </div>
            <div *ngIf="itemStatus" class="drop__container__bottom">
                <div class="drop__container__bottom__top">
                    <p>{{ 'delivery.deliveryTitle' | translate }} : Нова Пошта</p>
                    <p>{{ 'delivery.mailСompanyPlan' | translate }}</p>
                </div>
                <div class="drop__container__bottom_down">
                    <div>
                    <p class="d4">{{ 'cabinet.totalPayment' | translate }}</p>
                    <p class="d4">
                        {{ modifyPrice(order?.total) }} {{ 'delivery.uah' | translate }}
                    </p>
                    </div>
                </div>
        </div>
    </div>
</div>
</div>

