<rap-breadcrumbs [breadcrumbs]="breadcrumbs" class="breadcrumbs-container"></rap-breadcrumbs>
<br />
<div class="row">
  <!-- <div class="col col-side filter-margin-left" style="margin-top: 5%;"> -->
    <!-- <i>Filters will be here</i> -->
    <!-- <app-filter-page (filterChanged)="onFilterChanged($event)"></app-filter-page> -->
  <!-- </div> -->
  <div class="col">
    <div style="width: 100%;" class="d4 text-center flex row center v_center">
      <div>
        <h1 style="margin-top: 0;" class="promotion-header">{{'nav.promotion' | translate }}</h1>
      </div>

    </div>

    <div class="flex wrap promotion-container">
      <div class="promotion" *ngFor="let item of prom.promotions.data">
        <a [routerLink]="['/promotions/view/' + item.id]" class="ratio">
          <div class="square">
            <img
              *ngIf="item.description"
              [src]="hoststatic + item.description.image?.src_mini"
              [alt]="item.name"
              class="cover"
            />
          </div>
        </a>
        <div class="info ">
          <div class="days-left">
            <div>{{'promotion.left'|translate}}</div>
            <div class="number" *ngIf="item.description">
              {{ countDays(item.description.data_end) }}
            </div>
            <div>{{'promotion.days'|translate}}</div>
          </div>
          <div class="detal">
            <small *ngIf="item.description"
              >{{ item.description.data_start }} -
              {{ item.description.data_end }}</small
            >
            <h4 class="promotionName" ><a
                    [routerLink]="['/promotions/view/' + item.id]"
                    class="button small more"
            >{{ item.description.description }} </a
            ></h4>

          </div>
        </div>

      </div>
    </div>

    <app-pagination
      class="radius"
      [page]="prom.page"
      [total]="Math.ceil(prom.promotions.count / prom.promotions.take)"
      [pagesToShow]="5"
      (pageChanged)="pageChangedHandler($event)"
    ></app-pagination>
  </div>
</div>
