@import "~src/styles/raisins/variables";
@import "~src/styles/raisins/mixins";

.col-side {
  @include col-width(196px);
}

.more {
  font-weight: normal;
  padding: $space/4 0;
  border-bottom: 2px solid transparent;
  color: $primary;
  text-decoration: none;
  background-color: unset;
  @include transition();

  &:hover {
    border-color: $primary;
    background-color: unset;
  }
  &:active {
    background-color: unset;
  }
}

.promotion-container {
  display: flex;
  justify-content: flex-start;
  white-space: pre-wrap;
}

.promotion {
  white-space: pre-wrap;
  width: calc(25% - #{$space * 2});
  margin: $space;
  background-color: $white;
  @include material-shadow(1, 1, $gray400);
  @include transition();
  //border-radius: $radius;
  &:hover {
    @include material-shadow(2, 1, $gray500);
    transform: scale(1.005);
  }
  .ratio {
      img {
          //border-top-left-radius: $radius;
          //border-top-right-radius: $radius;
      }
  }
  .info {
    white-space: pre-wrap;
      display: flex;
      flex-direction: row;
      //padding: $space/2;
      .days-left {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: $space/4;
          //border: 1px solid $gray400;
          width: 100px;
          text-align: center;
           background-color: #F4D1D4;
          .number {
              font-size: 45px;
              //font-size: 1.6rem;
          }

        .days-left-top{
          color: #333333;
          font-size: 16px;
          font-weight: 100;
        }
      }
      .detal {
        white-space: pre-wrap;
        padding-top: 10px;
          //padding: $space/4 $space/4 $space/4 $space;
           display: flex;
           justify-content: flex-start;
        padding-left: 10px;
           //margin-left: auto;
           //margin-right: auto;

          h4 {
              margin: $space/4 0 $space/2;

          }
        .detail-wrap{
          .date{
            padding-bottom: 20px;

          }
        }
      }
  }
}
.days-left-block{
  width: 100px;
}
.promotionName{
  color: #333333;
  font-weight: 600;
  //text-align: center;
}
@include screen-w(1440px) {
.detal{
  max-width: 150px;
}
}
@include screen-w(1250px) {
  .detal{
    max-width: 200px;
  }
  .promotion {
    width: 30%;
  }

}

@include screen-w(1170px) {
  .promotion {
    width: 44%;
  }
}

@include screen-w(800px) {
  .d4 {
    margin: 5px;
  }
  .detal{
    max-width: 150px;
  }
}

@include screen-w(548px) {
  .promotion {
    width: 70%;
  }
  .detal{
    max-width: 190px;
  }
  .promotion-container {
    justify-content: center;
  }
}

@include screen-w(400px) {
  .promotion-header {
    margin-bottom: 5px;
  }

  .promotion {
    width: 80%;
  }
}
@include screen-w(350px) {
  .detal {
    max-width: 150px;
  }
}


//@include screen-w(800px) {
//  .promotion {
//    width: calc(33% - #{$space});
//    margin: $space/2;
//  }
//}

//@include screen-w(480px) {
//  .promotion {
//    width: calc(50% - #{$space});
//    margin: $space/2;
//  }
//}
