<div class="flex right">
  <button class="button transparent prev" (click)="moveLeft()"><</button>
  <button class="button transparent next" (click)="moveRight()">></button>
</div>

<!-- <drag-scroll #carusel> -->
<div style="overflow: hidden; flex-direction: row;">
  <a
  drag-scroll-item
  [routerLink]="['/manufacturers/' + m.id]"
  class="ratio"
  *ngFor="let m of list"
>
  <div class="r3x1">
    <img [src]="hoststatic + m.image?.src" [alt]="m.name" class="contain" />
  </div>
</a>
</div>
<!-- </drag-scroll> -->
