<rap-breadcrumbs [breadcrumbs]="breadcrumbs" class="breadcrumbs-container"></rap-breadcrumbs>

<!-- <pre>{{sallers.item| json}}</pre> -->

<div class="row">
  <div class="col col-side filter-margin-left desctop-filter">
    <!-- <i>Filters will be here</i> -->
    <app-filter-page  (filterChanged)="onFilterChanged($event)"></app-filter-page>
  </div>
  <div class="col">
    <div class="ratio radius">
      <div class="date">
        {{ sallers?.item?.description?.data_start | localDate: "mediumDate" }} -
        {{ sallers?.item?.description?.data_end | localDate: "mediumDate" }}
      </div>
      <div class="cinema radius">
        <img
          [src]="host + sallers?.item?.description?.image?.src"
          [alt]="sallers?.item?.description?.title"
          class="cover radius"
        />
      </div>
    </div>

    <show-u-title
      [subtitle]="sallers?.item?.description?.subtitle"
      [title]="sallers?.item?.description?.title"
    ></show-u-title>
<!--    <div class="mobile-filter">-->
<!--      <app-filter-page  (filterChanged)="onFilterChanged($event)"></app-filter-page>-->
<!--    </div>-->
    <div class="col">
      <div class="sort-content">
        <app-filter-page class="filter-block-btn filter-hidden"  (filterChanged)="onFilterChanged($event)"></app-filter-page>
        <mat-form-field appearance="standart" class="sort-products   sotr-count-prodyct">
          <div class="sort-products-wrapper">
            <!--          [ngClass]="{'sortNone':selectStatusBy}"-->
            <mat-label class="sort-products-label" [ngClass]="{'sortNone':selectStatus}">{{ 'sortBy.sort' | translate }}</mat-label>
            <mat-select     (selectionChange)="onSortingChanged($event.value)">
              <!-- <mat-option *ngFor="let productData of sortProductsData" [value]="productData">
                {{ productData }}
              </mat-option> -->
              <mat-option  [value]="'minPrice'">
                {{ 'sortBy.minPrice' | translate}}
              </mat-option>
              <mat-option [value]="'maxPrice'">
                {{ 'sortBy.maxPrice' | translate}}
              </mat-option>
              <mat-option [value]="'rating'">
                {{ 'sortBy.rating' | translate}}
              </mat-option>
              <mat-option [value]="'promotions'">
                {{ 'sortBy.promotions' | translate}}
              </mat-option>
            </mat-select>
          </div>
        </mat-form-field>
        <mat-form-field appearance="standart" class="sort-products sort-count-product">
          <div class="sort-products-wrapper">

            <mat-label class="sort-products-label" [ngClass]="{'sortNone':selectStatusBy}"> {{ 'sortBy.view' | translate }}: </mat-label>
            <!-- <div *ngFor="let card of cardNumbers"> -->
            <mat-select (selectionChange)="onCardNumberChanged($event.value)">
              <mat-option *ngFor="let card of cardNumbers" [value]="card">
                {{ card }}
                <!-- {{ 'sortBy.take' | translate }} -->
              </mat-option>
            </mat-select>
            <!-- </div> -->
          </div>
        </mat-form-field>
      </div>
      <h1 style="margin-top: 0;">{{ product?.item?.name }}</h1>
      <!-- <pre>{{this.product.products | json}}</pre> -->

      <div class="grid">
        <app-product-item
                *ngFor="let item of sallers.item?.products"
                [product]="item"
        >
        </app-product-item>
      </div>
    </div>
    <app-pagination
            class="radius"
            [page]="sallers?.page"
            [total]="sallers.item.products.length> 0 ? Math.ceil(sallers.promotions.count / sallers.promotions.take): 0"
            [pagesToShow]="5"
            (pageChanged)="pageChangedHandler($event)"
    ></app-pagination>
  </div>
</div>

<br />
<br />
<br />
