@import "~src/styles/raisins/variables";
@import "~src/styles/raisins/mixins";

.golden {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  .long {
    @include col-width(#{$gr_longer + "%"});
  }
  .short {
    @include col-width(#{$gr_shorter + "%"});
  }
}

.col-side {
  @include col-width(196px);
}

.ratio {

    .date {
        position: absolute;
        top: $space*2; left: 0;
        color: $white;
        background-color: mix($gray900, $gray200, 20%);
        padding: $space;
        z-index: 100;
        border-top-right-radius: $radius;
        border-bottom-right-radius: $radius;
    }
}
.desctop-filter{
  display: block;
}
.mobile-filter{
  display: none;
 padding-bottom: 20px;
}
.sort-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sort-products {
  width: 25%;
  //width: 266px;
  border: 1px solid #000;
  border-radius: 8px;
  padding-left: 8px;
  height: 31px !important;
  margin-left: 10px;
  margin-right: 10px;

  .sort-products-wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    //width: 252px;
    //width: 250px;
    align-items: center;
    margin-top: -13px;

    .sort-products-label {
      // width: 76px;
      //width: 250px;
      //width: 272px;
      margin-right: 10px;
      font-size: 13px;
      width: 100%;
    }
  }
}

.sort-content ::ng-deep {
  .mat-form-field {
    .mat-form-field-wrapper {
      .mat-form-field-flex {
        .mat-form-field-infix {
          width: 100%;
          .mat-select {
            margin-right: 5px;
            margin-left: -60px;
            margin-top: -2px;
            .mat-select-trigger {
              .mat-select-value-text {
                font-size: 13px;
              }
              .mat-select-arrow-wrapper {
                .mat-select-arrow {
                  box-sizing: border-box;
                  height: 10px;
                  width: 10px;
                  border-style: solid;
                  border-color: #000;
                  border-width: 0px 1px 1px 0px;
                  transform: rotate(45deg);
                  transition: border-width 150ms ease-in-out;
                  margin-top: -6px;
                }
              }
            }
          }
        }
      }
    }
  }
}
::ng-deep {
  .mat-option {
    height: 2.3em !important;
    .mat-option-text {
      font-size: 13px;
    }
  }
}
.filter-block-btn{
  display: none;
}
.sortNone{
  visibility: hidden;
}
@media screen  and (max-width: 768px){
  .desctop-filter{
    display: none;
  }
  .mobile-filter{
    display: block;
  }
  .filter-block-btn{
    display: block;
  }
  .sotr-count-prodyct{
    display: block;
    min-width: 144px;
  }
  .sort-products{
    display: block;
  }
  .filter-block{
    display: none;
  }
  .sort-count-product{
    display: none;
  }


}

.grid {
  display: grid;
  grid-gap: $space;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
