@import "~src/styles/raisins/variables";
@import "~src/styles/raisins/mixins";

.review-item-wrapper {
  width: 100%;
  display: flex;
  .review-item {

    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    flex-direction: row;
    justify-content:space-between;

    .review-item__image {
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      background-color:#BFBFBF;
      border-radius: 50%;
    }
    .review-item__content__wrapper {
      max-width:calc(100% - 100px);
      padding-left: 24px;
      width: 100%;
      .review-item__content__comment{
        width: 95%;
      }

      .review-item__content {
        width: 200px;

        h6 {
          margin-top: 0;
          margin-bottom: 0;
        }

        p {
          margin-top: 0;
          margin-bottom: 0;
        }

        .review-item__content__stars {
          padding-bottom: 10px;
          width: 82px;
        }

        .review-item__content__user {
          padding-bottom: 10px;
          flex-direction: row;
          justify-content: space-between;

          h6 {
            color: #545353;
            font-size: 14px;
            font-weight: bold;

          }

          p {
            color: #545353;
            font-size: 14px;
            font-weight: lighter;
          }
        }

      }
    }
  }
}

@media  screen and(max-width: 480px) {
  .review-item-wrapper {
    .review-item {
      .review-item__content__wrapper {
        .review-item__image {
          width: 95px;
          height: 95px;
        }

        .review-item__content {
          max-width: 180px;
          width: 100%;
        }
      }
    }
  }
}
