ul{

  li{

  }
  margin-top: 20px;
  list-style: none;
  margin-bottom: 0;
}
.category-item{
  //margin-left: 17px;
  cursor: pointer;
  width: 172px;
  flex-direction: row;
  font-size: 18px;


  span{
    //margin-top: 25px;
    display: flex;
    justify-content: space-between;
    width:100%;
    //padding-top: 3%;
    span{
      padding-bottom: 5px;
      //margin-bottom: 25px;
      font-size: 16px;

    }
  }

  img {
    width: 20px;
  }
}
.category-children {
  margin-left: 25px;
  width: 172px;
  font-size: 16px;
  display: flex;
  align-items: start;
  span {
    display: flex;
    justify-content: space-between;
    span {
      //margin-bottom: 16px;
    }
  }
}
.small-menu-plus-btn{
  padding-bottom: 25px
}
#sub-category{
  span{
    font-size: 13px;
  }


}
.active-sub{
  color: #9F1941;
}



