.review-container{
    width: 100%;

  .review-container__sort-block{
    .sort-content{
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      width: 100%;

      .sort-products {
        max-width: 250px;
        width: 100%;
        border: 1px solid #000;
        border-radius: 4px;
        padding-left: 8px;
        height: 31px !important;
        margin-left: 10px;
        margin-right: 10px;

        .sort-products-wrapper {
          width: 230px;
          display: flex;
          flex-wrap: nowrap;
          flex-direction: row;

          align-items: center;
          margin-top: -13px;

          .sort-products-label {

            margin-right: 10px;
            font-size: 13px;
            width: 100%;
          }
        }
      }
    }
  }
  .review-container__wrapper{
    overflow: auto;
    width: 100%;
  }
  .review-container__items{
    padding-top: 51px;
    min-width: 745px;
    .review-container__items__item{

      display: grid;
      grid-template-columns: 110px 0.5fr 40px 0.7fr 0.7fr;
      background-color: white;
      box-shadow: 0px 3px 6px #00000029;
      margin-bottom: 20px;
      .cell{
        align-items: center;
        flex-direction: row;
        justify-content: center;
        text-align: center;

       .cell__img{
         width: 40px;
       }

      }
      .status{

      }
      .green{
        color: #42996F;
      }
      .red{
        color:#9F1941
      }
      .yellow{
        color:#FFC400 ;
      }
      .status{
        border-left: 1px solid silver;
      }
    }

  }

}

@media screen and(max-width:768px) {

  .sort-content{
    justify-content: flex-start;
    //flex-direction: column;

  }
  .review-container{
    .review-container__sort-block{
      .sort-content{
        flex-direction: column;
        .sort-products{
          margin-bottom: 10px;
        }
      }
    }
  }

}


