<div class="review-container" *ngIf="(myReviews.length === 0) && isSuccessReviews">
    <div class="reset-success-content">
        <div class="success-message">
            <div class="success-message-content">
                <img class="success-message-icon" src="assets/icons/tick.svg"/>
                <div class="success-message-text">{{ 'accaunt.noReviewsYet' | translate }}</div>
            </div>
            <a [routerLink]="['/']" class="success-message-btn">
                <button class="go-shop-btn">{{ 'accaunt.goShop' | translate }}</button>
            </a>
        </div>
    </div>
</div>
<div class="review-container" *ngIf="myReviews.length > 0">
    <div class="review-container__sort-block">
        <div class="sort-content">
            <!-- <mat-form-field appearance="standart" class="sort-products">
                <div class="sort-products-wrapper">
                    <mat-label class="sort-products-label">{{ 'sortBy.sort' | translate }}</mat-label>
                    <mat-select>
                        <mat-option [value]="'minPrice'">
                            {{ 'sortBy.minPrice' | translate}}
                        </mat-option>
                        <mat-option [value]="'maxPrice'">
                            {{ 'sortBy.maxPrice' | translate}}
                        </mat-option>
                        <mat-option [value]="'rating'">
                            {{ 'sortBy.rating' | translate}}
                        </mat-option>
                    </mat-select>
                </div>
            </mat-form-field> -->
            <!-- <mat-form-field appearance="standart" class="sort-products">
                <div class="sort-products-wrapper">
                    <mat-label class="sort-products-label"> {{ 'sortBy.view' | translate }}: </mat-label>
                    <mat-select >
                        <mat-option [value]="'price'">
                            {{ 'sortBy.price' | translate}}
                        </mat-option>
                    </mat-select>
                </div>
            </mat-form-field> -->
        </div>
    </div>
    <app-my-review-product-item
        *ngFor="let myReview of myReviews"
        [review]="myReview">
    </app-my-review-product-item>
</div>
