<div @fade
     *ngIf="sizesModal"
     class="close-wrap">
    <div class="msg">{{ "Back to store" }}</div>
</div>

<section *ngIf="sizesModal" @slideRight>
    <div class="size-header">
        <div><p>Таблиця розмірів</p></div>
        <div class="close" (click)="close()">X</div>
    </div>
    <div class="category-logo">
        
        <img src="https://api.showu.com.ua/{{selectedProd.manufactured.image.src}}">
    </div>
    <div class="sizes-block" >
        <div class="sizes-name">{{allTable?.description?.name}}</div>
        <hr>
        <table class="size-table">
            <tr class="size-top" >
                <td class="size-top-first">{{ "size.sizes" | translate }}/{{ "size.params" | translate }}</td>
                <td *ngFor="let size of arrTableParams">{{size.description.name}}</td>
            </tr>
            <ng-container *ngIf="arrSizesValue">
                <tr class="sizes-items" *ngFor="let size of arrSizesValue of let i = index">
                    <td class="item-first"> {{arrTableSizes[i]?.description?.name}} </td>
                    <td class="item" *ngFor="let item of size">{{item!==null? item.min_value*1:''}}-{{item!==null? item.max_value*1:''}}</td>
                </tr>
            </ng-container>
        </table>
    </div>
<!--    <div class="sizes-block" >-->
<!--        <div class="sizes-name">Closes</div>-->
<!--        <hr>-->
<!--        <table class="size-table">-->
<!--           <tr class="size-top" >-->
<!--               <td class="size-top-first">Розмір/Параметер</td>-->
<!--               <td>Обєм грудей</td>-->
<!--               <td>Обєм талії</td>-->
<!--               <td>Обхват стегон</td>-->
<!--           </tr>-->
<!--            <tr class="sizes-items" *ngFor="let size of arrSizes">-->
<!--                <td class="item-first">XS </td>-->
<!--                <td class="item">84 </td>-->
<!--                <td class="item">62</td>-->
<!--                <td class="item">100</td>-->
<!--            </tr>-->
<!--        </table>-->
<!--    </div>-->


</section>
