<div @fade
     *ngIf="sizesModal"
     class="close-wrap">
    <div class="msg">{{ "Back to store" }}</div>
</div>

<section *ngIf="sizesModal" @slideRight>
    <div class="size-header">
        <div><p>Таблиця розмірів</p></div>
        <div class="close" (click)="close()">X</div>
    </div>
    <div class="category-logo">
        <img src="https://api.showu.com.ua//uploads/image/28392eb9eba3e5c3094af00db028c06f_1.jpg">
    </div>
    <div class="sizes-block" >
        <div class="sizes-name">Closes</div>
        <hr>
        <table class="size-table">
           <tr class="size-top" >
               <td class="size-top-first">Розмір/Параметер</td>
               <td>Обєм грудей</td>
               <td>Обєм талії</td>
               <td>Обхват стегон</td>
           </tr>
            <tr class="sizes-items" *ngFor="let size of arrSizes">
                <td class="item-first">XS </td>
                <td class="item">84 </td>
                <td class="item">62</td>
                <td class="item">100</td>
            </tr>
        </table>
    </div>
    <div class="sizes-block-shoes" >
        <div class="sizes-name">Shoes</div>
        <hr>
        <table class="size-table">
            <tr class="size-top" >
                <td class="size-top-first">Розмір/Параметер</td>
                <td></td>
                <td></td>
                <td class="size-top-last">Розмір встілки, см</td>
            </tr>
            <tr class="sizes-items" *ngFor="let size of arrSizes">
                <td class="item-first">40 </td>
                <td class="item"> </td>
                <td class="item"></td>
                <td class="item">25,5</td>
            </tr>
        </table>
    </div>

</section>
