<form [formGroup]="authForm" (ngSubmit)="onSubmit()" class="login">
  <div class="login__input-container">
    <div class="description">
      <label for="ShowUEmail">{{ 'accaunt.accauntEmail' | translate }} </label>
    </div>
    <div class="original">
      <input
        formControlName="email"
        
        required
        class=""
        id="ShowUEmail"
        name="email"
        type="email"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
      />
    </div>
  </div>
<div class="singing-container">
  <div class="flex space-between singing-container__sing-in-btn">
    <button
      [disabled]="!authForm.valid"
      class="button delete  large"
      type="submit"
    >
      {{ labelSubmit }}
    </button>
  </div>
  <div class="form-row register-container">
    <div class="description"></div>
    <div class="original">
      <a [routerLink]="['/', 'accaunt', 'register']"
      ><small>{{ labelReg }}</small></a
      >
      <a [routerLink]="['/', 'accaunt', 'login']"
      ><small>{{ labelLogin }}</small></a
      >
    </div>
  </div>
</div>


</form>



