.login {
  //border-top:1px solid silver ;
  .login__input-container {

    .description {
      //padding: 36px 0 10px;
      padding: 4px 0 10px;
      
      label {
        font-size: 15px;
        font-weight: 500;
        
        &::after {
          content: "*";
          color: red;
        }
      }
    }
    .original{
      input{
        //height: 50px;
        height: 42px;
        max-width: 40vw;
        border-radius: 3px;
      }
    }
  }
}
.singing-container{
  max-width: 40.3vw;
  //padding-top: 48px;
  padding-top: 29px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  .form-row{
    .original{
      display: flex;
      justify-content: flex-end;
      flex-direction: row;


      a{

        text-align: end;
        padding: 0 5px;
      }
    }
  }
  .register-container{
    align-items: center;
    flex-direction: column;
  }
  .singing-container__sing-in-btn{
    button{
      width: 160px;
      border-radius: 3px;
    }
    .singing-container__sing-in-btn__remember{
      padding-left: 10px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
      input{
        width: 30px;
        height: 30px;
      }
      p{
        padding-top: 20px;
      }
    }
  }
}

.button.large {
  padding: 11px 6px !important;
}
