<rap-container>
  <div class="row wrap small-footer">
    <div class="col col-25 col100m small-footer-logo ">
      <a [routerLink]="['/']" routerLinkActive="router-link-active">
        <rap-svg-ico class="logo" [src]="'assets/showu.svg'"></rap-svg-ico
      ></a>
      <p class="gray text-left">
        {{ "footer.description" | translate }}
      </p>
    </div>
    <div class="col col-25 col50m footer-small-shop">
      <h5>{{ "footer.shop" | translate }}</h5>
      <ul class="col-nav">
        <li *ngFor="let link of clientMenu.listShop">
          <a class="gray" href="{{ link.link }}">{{
            link.description.title
          }}</a>
        </li>
      </ul>
    </div>
    <div class="col col-25 col50m footer-small-help">
      <h5>{{ "footer.help" | translate }}</h5>
      <ul class="col-nav">
        <li *ngFor="let link of clientMenu.listHelp">
          <a class="gray" href="{{ link.link }}">{{
            link.description.title
          }}</a>
        </li>
      </ul>
    </div>
    <form [formGroup]="subscribeForm" class="col col-25 col100m small-footer-input">
      <h5>{{ "footer.newsletter" | translate }}</h5>

      <div class="subscribe-container">
        <input
          class="radius input-subscribe"
          type="email"
          placeholder="{{'footer.enterEmail'| translate }}"
          formControlName="userSubscription"
        />
        <button 
          class="btn-subscribe"
          (click)="sendUserSubscription()"
          >{{ "footer.subscribe" | translate }}</button>
      </div>
      <p class="gray ">
        {{ "footer.wantNews" | translate }}
      </p>
    </form>
  </div>
  <hr />
  <div class="row wrap v_center small-footer-bottom">
    <span class="copy">&copy; {{ "footer.copyright" | translate }}</span>
  </div>
</rap-container>
