@import "~src/styles/raisins/variables";
@import "~src/styles/raisins/mixins";

:host {
  display: block;
  position: relative;
  background-color: $gray800;
  color: $white;
  padding-bottom: $space/4;
  margin-top: auto;
}

ul.nav {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
  padding: 0;

  li {
    a {
      display: block;
      padding: $space/4;
      margin-right: $space/4;
    }
  }
}

.copy {
  display: block;
  padding: $space/4;
  margin-right: $space/4;
}

.logo {
  display: block;
  fill: $primary;
  opacity: 0.9;
  margin-right: $space;
  margin-top: $space;
  margin-bottom: $space*3;
  width: 72%;
  &:hover {
    opacity: 1;
  }
}

.subscribe-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 22px;
}

.input-subscribe {
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-subscribe {
  background: #9F1941;
  border: none;
  color: #fff;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  outline: none;
  cursor: pointer;
}
.solial-networks{
  display: flex;
  flex-direction: row;

  .solial{
    margin-right: 18px;
    width: 35px;
    height: 35px;
  }
}

@include screen-w(1080px) {
  .logo {
    max-width: 256px;
    margin-bottom: $space*2;
  }
}
@include screen-w(768px) {
  .logo {
    max-width: 190px;
    margin-top: $space/2;
    margin-bottom: $space;
  }

  .small-footer{

    display: flex;
    justify-content: center;
    flex-direction: row;
   text-align: center;
  }
  .small-footer-logo{
    display: flex;
    align-items: center;

    p{
      text-align: center;
      font-weight: 100;
      display: block;
      width: 80%;
      font-size: 12px;

    }
    a{
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      //margin-left: 15%;

    }
  }
  .small-footer-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 25px;
    padding-right: 25px;
    align-items: center !important;

    h5{
      text-align: start;
      display: flex;
      align-self: end;
      margin-left: 7%;
    }
    p{
      font-size: 12px;
      text-align: center;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    input{width: 75%  ;}


  }
  .small-footer-bottom{
    display: flex;
    justify-content: center;
    flex-direction: row;

  }

  .btn-subscribe {
    border-top-right-radius: 6px !important;
    border-bottom-right-radius: 6px  !important;
  }
  
  .input-subscribe {
    border-top-left-radius: 6px !important;
    border-bottom-left-radius: 6px !important;
  }

  .subscribe-container {
    width: 100%;
    justify-content: center;
  }
  .footer-small-help{
    text-align: left;
  }
  .footer-small-shop{
    text-align: left;
    padding-left: 17vw;
  }
}

@include screen-w(589px) {
  .small-footer-input {
    h5 {
      margin-left: 5%;
    }
  }
}

@include screen-w(489px) {
  .small-footer-input {
    h5 {
      margin-left: 3%;
    }
  }
  .solial-networks{
    padding-left: 29px;
  }
}

@include screen-w(389px) {
  .small-footer-input {
    h5 {
      margin-left: 1%;
    }
  }
  .footer-small-shop{

    padding-left: 10vw;
  }
}

@include screen-w(372px) {
  .small-footer-input {
    h5 {
      margin-left: 0;
    }
  }
  .footer-small-shop{

    padding-left: 5vw;
  }
}

.gray {
  color: $gray300;
}

h5 {
  font-weight: bold;
  text-transform: uppercase;
  padding-left: $space/4;
  padding-right: $space/4;
}

ul.col-nav {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  padding: 0;

  li {
    a {
      display: block;
      padding: $space/2;
    }
  }
}
