@import "~src/styles/raisins/variables";
@import "~src/styles/raisins/mixins";
$size: 48px;
:host {
  position: relative;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: $space;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: $space*2 $space;

  background-color: $white;

  transform-origin: bottom center;
  @include material-shadow(1, 1, $gray400);
  @include transition();
  border-radius: $radius;
  &:hover {
    @include material-shadow(2, 1, $gray500);
    transform: scale(1.01);
  }

  rap-svg-ico {
    width: $size;
    height: $size;
    margin-right: $space;
    fill: $primary;
  }

  .info {
    flex: 1;

    h6 {
      margin: $space/4 0;
    }

    span,
    a {
      font-weight: 200;
      font-size: $fontSizeH3;
    }
  }
}
@media screen and(max-width: 768px){
  .welcome-to-show-small{
    border: solid black 1px;
    border-radius: 0px;
    display: flex;
   flex-wrap: wrap;
    flex-direction: row;
    width: 80%;
    margin-top: 10px;
    justify-content: flex-end;
    flex-direction: row;


  }
  app-welcome-statistic{
    display: flex;
    flex-direction: column;

  }
  .info{
    display: flex;
    align-items: flex-start;
    flex-direction: column;


  }


}

