<!--<show-u-title [title]="'Profile'"></show-u-title>-->
<!--<b>First name:</b> {{accaunt.current?.user?.first_name}} <br>-->
<!--<b>Last name: </b>{{accaunt.current?.user?.last_name}} <br>-->
<!--<b>Phone:</b> {{accaunt.current?.user?.tel}} <br>-->
<!--<b>Email:</b> {{accaunt.current?.user?.email}} <br>-->
<!--<b>Is email confirm:</b> {{accaunt.current?.user?.is_confirm_email}} <br>-->
<!--<b>Register on site:</b> {{accaunt.current?.user?.created_at | localDate}} <br>-->
<!--<b>Last update info:</b> {{accaunt.current?.user?.updated_at | localDate}} <br>-->
<!-- <pre>{{accaunt.current | json}}</pre>-->


<div class="personal-data-container">

    <table class="personal-data-container__table" *ngIf="!personStatus">
        <div class="personal-data__title"> <p class="title">Personal data</p></div>
        <tr>
            <td>First name</td>
            <td>Misha</td>
        </tr>
        <tr>
            <td>Last name</td>
            <td>Stetsyk</td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>064321423</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>MishaStetsyk@gmail.com</td>
        </tr>
        <tr>
            <td>Country</td>
            <td>Ukraine</td>
        </tr>
        <tr>
            <td>City</td>
            <td>Lviv</td>
        </tr>
        <tr>
            <td>Details for the courier</td>
            <td>Lviv Nova street</td>
        </tr>
        <tr>
            <td>NovaPoshta data</td>
            <td>Misha</td>
        </tr>
        <div class="personal-data-container__change-password">
            <button (click)="changeStatus()" *ngIf="!personStatus">Change password</button>
        </div>

    </table>


   <div class="data-change__wrapper" *ngIf="personStatus">



        <div class="change-data"  >
            <div class="change-data__input-container">
                <label for="firstName" class="input__group">First name</label>
                <div class="input__group"><input id="firstName" type="text"></div>
            </div>
            <div class="change-data__input-container">
                <label for="secondName" class="input__group">Last name</label>
                <div class="input__group"><input id="secondName" type="text"></div>
            </div>
            <div class="change-data__input-container">
                <label for="phone" class="input__group">Phone</label>
                <div class="input__group"><input id="phone" type="text"></div>
            </div>
            <div class="change-data__input-container">
                <label for="email" class="input__group">Email</label>
                <div class="input__group"><input id="email" type="text"></div>
            </div>
            <div class="change-data__input-container">
                <label for="country" class="input__group">Country</label>
                <div class="input__group"><input id="country" type="text"></div>
            </div>
            <div class="change-data__input-container">
                <label for="city" class="input__group">City</label>
                <div class="input__group"><input id="city" type="text"></div>
            </div>
            <div class="change-data__input-container">
                <label for="detail-city" class="input__group">Details for the courier</label>
                <div class="input__group-two" id="detail-city">
                    <input class="input__group-two__firts" type="text">
                    <input type="text">
                </div>

            </div>


            <div class="change-data__input-container">
                <label for="detail-post" class="input__group">NovaPoshta data</label>
                <div class="input__group-two" id="detail-post">
                    <input class="input__group-two__firts" type="text">
                    <input type="text">
                </div>

            </div>
            <div class="change-data__input-container">
                <div class="data-change__btn" *ngIf="personStatus">
                    <button class="save__btn" (click)="changeStatus()">Save</button>
                    <button class="cancel__btn" (click)="changeStatus()">Cancel</button>
                </div>
            </div>
        </div>
   </div>
</div>

