<!--<show-u-title [title]="'Profile'"></show-u-title>-->
<!--<b>First name:</b> {{accaunt.current?.user?.first_name}} <br>-->
<!--<b>Last name: </b>{{accaunt.current?.user?.last_name}} <br>-->
<!--<b>Phone:</b> {{accaunt.current?.user?.tel}} <br>-->
<!--<b>Email:</b> {{accaunt.current?.user?.email}} <br>-->
<!--<b>Is email confirm:</b> {{accaunt.current?.user?.is_confirm_email}} <br>-->
<!--<b>Register on site:</b> {{accaunt.current?.user?.created_at | localDate}} <br>-->
<!--<b>Last update info:</b> {{accaunt.current?.user?.updated_at | localDate}} <br>-->
<!-- <pre>{{accaunt.current | json}}</pre>-->


<div class="personal-data-container">
    <div class="personal-data__title personal-data__wrapper" *ngIf="!isChangePassBtnClicked"> 
        <p class="title">{{ 'personalData.userPersonalData' | translate }}</p>
        <button
            *ngIf="!personStatus"
            (click)="changeStatus()" 
            class="personal-data__edit-btn"
        >
            {{ 'cabinet.edit' | translate }}
        </button>
    </div>
    <table class="personal-data-container__table" *ngIf="!personStatus && !isChangePassBtnClicked">
        <tr>
            <td>{{ 'personalData.userName' | translate }}</td>
            <td>{{ accaunt.current?.user?.first_name }}</td>
        </tr>
        <tr>
            <td>{{ 'personalData.userSurname' | translate }}</td>
            <td>{{ accaunt.current?.user?.last_name }}</td>
        </tr>
        <tr>
            <td>{{ 'personalData.userEmail' | translate }}</td>
            <td>{{ accaunt.current?.user?.email }}</td>
        </tr>
        <tr>
            <td>{{ 'personalData.userPhone' | translate }}</td>
            <td>{{ accaunt.current?.user?.tel }}</td>
        </tr>
        <tr>
            <td>{{ 'personalData.userCountry' | translate }}</td>
            <td>{{ accaunt.current?.user?.country }}</td>
        </tr>
        <tr>
            <td>{{ 'personalData.userCity' | translate }}</td>
            <td>{{ accaunt.current?.user?.city}}</td>
        </tr>
        <tr>
            <td>{{ 'personalData.userDetailsForTheCourier' | translate }}</td>
            <td>{{ accaunt.current?.user?.delivery_adress }}</td>
        </tr>
        <!-- <tr>
            <td>NovaPoshta data</td>
            <td>Misha</td>
        </tr> -->
        <div class="personal-data-container__change-password">
            <button (click)="changePassword()">{{ 'personalData.userChangePassword' | translate }}</button>
        </div>
    </table>
    <div class="personal-data__title personal-data__wrapper change-pass-wrapper" *ngIf="isChangePassBtnClicked">
        <p class="title">{{ 'personalData.userChangePassword' | translate }}</p>
        <div class="data-change__wrapper">
            <form [formGroup]="changePasswordForm" class="change-data">
                <div class="reset-success-content" *ngIf="isPassSuccessMessage">
                    <div class="success-message">
                        <div class="success-message-content">
                            <img class="success-message-icon" src="assets/icons/tick.svg"/>
                            <div class="success-message-text">{{ 'personalData.changePasswordSuccess' | translate }}</div>
                        </div>
                    </div>
                </div>
                <div class="change-data__input-container change-data__input-container-password">
                    <label for="oldPassword" class="input__group">{{ 'personalData.oldPassword' | translate }}</label>
                    <div class="input__group input__group-password">
                        <input id="oldPassword" type="password" formControlName="oldPassword" class="input-password" required>
                        <div *ngIf="formAuthControls?.oldPassword?.invalid && (formAuthControls?.oldPassword?.dirty || formAuthControls?.oldPassword?.touched)" class="error-message">
                            <div *ngIf="formAuthControls?.oldPassword?.errors.required" class="">
                                {{ 'accaunt.requiredUsername' | translate }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="change-data__input-container change-data__input-container-password">
                    <label for="oldPassword" class="input__group">{{ 'personalData.newPassword' | translate }}</label>
                    <div class="input__group input__group-password">
                        <input id="oldPassword" type="password" formControlName="newPassword" class="input-password" required>
                        <div *ngIf="formAuthControls?.newPassword?.invalid && (formAuthControls?.newPassword?.dirty || formAuthControls?.newPassword?.touched)" class="error-message">
                            <div *ngIf="formAuthControls?.newPassword?.errors.required" class="">
                                {{ 'accaunt.requiredUsername' | translate }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="change-data__input-container">
                    <label for="oldPassword" class="input__group">{{ 'personalData.confirmPassword' | translate }}</label>
                    <div class="input__group input__group-password">
                        <input id="oldPassword" type="password" formControlName="confirmPassword" class="input-password" required>
                        <div *ngIf="formAuthControls?.confirmPassword?.invalid && (formAuthControls?.confirmPassword?.dirty || formAuthControls?.confirmPassword?.touched)" class="error-message">
                            <div *ngIf="formAuthControls?.confirmPassword?.errors.required" class="">
                                {{ 'accaunt.requiredUsername' | translate }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="change-data__input-container change-data__btns-password">
                    <div class="data-change__btn data-change__btn-password" *ngIf="isChangePassBtnClicked">
                        <button class="save__btn" [disabled]="!changePasswordForm.valid" (click)="updatePassword()">{{ 'personalData.userSave' | translate }}</button>
                    </div>
                    <div class="data-change__btn data-change__btn-password">
                        <button class="cancel__btn" (click)="changeStatusPassword()">{{ 'personalData.userCancel' | translate }}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="data-change__wrapper" *ngIf="personStatus">
        <form [formGroup]="personalDataForm" class="change-data">
            <div class="reset-success-content" *ngIf="isUpdateBtnClicked">
                <div class="success-message">
                    <div class="success-message-content">
                        <img class="success-message-icon" src="assets/icons/tick.svg"/>
                        <div class="success-message-text">{{ 'accaunt.accountDetailsChanged' | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="change-data__input-container">
                <label for="firstName" class="input__group">{{ 'personalData.userName' | translate }}</label>
                <div class="input__group">
                    <input id="firstName" type="text" formControlName="firstName" required>
                    <div *ngIf="formAuthControls?.firstName?.invalid && (formAuthControls?.firstName?.dirty || formAuthControls?.firstName?.touched)" class="error-message">
                        <div *ngIf="formAuthControls?.firstName?.errors.required" class="">
                            {{ 'accaunt.requiredUsername' | translate }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="change-data__input-container">
                <label for="secondName" class="input__group">{{ 'personalData.userSurname' | translate }}</label>
                <div class="input__group">
                    <input id="secondName" type="text" formControlName="lastName" required>
                    <div *ngIf="formAuthControls?.lastName?.invalid && (formAuthControls?.lastName?.dirty || formAuthControls?.lastName?.touched)" class="error-message">
                        <div *ngIf="formAuthControls?.lastName?.errors.required" class="">
                            {{ 'accaunt.requiredUserSurname' | translate }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="change-data__input-container">
                <label for="email" class="input__group">{{ 'personalData.userEmail' | translate }}</label>
                <div class="input__group">
                    <input id="email" type="text" formControlName="email" required>
                    <div *ngIf="formAuthControls?.email?.invalid && (formAuthControls?.email?.dirty || formAuthControls?.email?.touched)" class="error-message">
                        <div *ngIf="formAuthControls?.email?.errors.required" class="">
                            {{ 'accaunt.requiredEmail' | translate }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="change-data__input-container">
                <label for="phone" class="input__group">{{ 'personalData.userPhone' | translate }}</label>
                <div class="input__group">
                    <input id="phone" type="text" formControlName="phone" required>
                    <div *ngIf="formAuthControls?.phone?.invalid && (formAuthControls?.phone?.dirty || formAuthControls?.phone?.touched)" class="error-message">
                        <div *ngIf="formAuthControls?.phone?.errors.required" class="">
                            {{ 'accaunt.requiredPhone' | translate }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="change-data__input-container">
                <label for="country" class="input__group">{{ 'personalData.userCountry' | translate }}</label>
                <div class="input__group">
                    <input id="country" type="text" formControlName="country" required>
                    <div *ngIf="formAuthControls?.country?.invalid && (formAuthControls?.country?.dirty || formAuthControls?.country?.touched)" class="error-message">
                        <div *ngIf="formAuthControls?.country?.errors.required" class="">
                            {{ 'accaunt.requiredCountry' | translate }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="change-data__input-container">
                <label for="city" class="input__group">{{ 'personalData.userCity' | translate }}</label>
                <div class="input__group">
                    <input id="city" type="text" formControlName="city" required>
                    <div *ngIf="formAuthControls?.city?.invalid && (formAuthControls?.city?.dirty || formAuthControls?.city?.touched)" class="error-message">
                        <div *ngIf="formAuthControls?.city?.errors.required" class="">
                            {{ 'accaunt.requiredCity' | translate }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="change-data__input-container">
                <label for="detail-city" class="input__group">{{ 'personalData.userDetailsForTheCourier' | translate }}</label>
                <div class="input__group" id="detail-city">
                    <input type="text" formControlName="delivery_adress" required>
                    <div *ngIf="formAuthControls?.delivery_adress?.invalid && (formAuthControls?.delivery_adress?.dirty || formAuthControls?.delivery_adress?.touched)" class="error-message">
                        <div *ngIf="formAuthControls?.delivery_adress?.errors.required" class="">
                            {{ 'accaunt.requiredDetails' | translate }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="change-data__input-container">
                <div class="data-change__btn" *ngIf="personStatus">
                    <button class="save__btn" [disabled]="!personalDataForm.valid" (click)="updateUserPersonalData()">{{ 'personalData.userSave' | translate }}</button>
                </div>
                <div class="data-change__btn">
                    <button class="cancel__btn" (click)="changeStatus()">{{ 'personalData.userCancel' | translate }}</button>
                </div>
            </div>
        </form>
   </div>
</div>

