<div class="ratio radius">
  <div class="square radius">
    <img class="cover radius" src="{{ host + value?.product?.image?.src_mini }}" alt="" />
  </div>
</div>

<div class="info">
<!--  <h4>{{ value?.product?.description?.name }}</h4>-->
  <span class="name"></span>
 <h4>{{ value.product.description?.name  }},</h4>
  <h4 *ngFor="let option of value.product.selected_options">{{option.option_group}} {{option.value.description.name}}, </h4>
  <div class="price">
    <span [@changeValueHighlight]="value.count">{{ value?.count }} {{ 'delivery.pcs' | translate }}</span>
    <span [@changeValueHighlight]="value.count">{{currency.current.simbol_left}}{{ value?.product?.price * currency?.current?.value * value?.count  | number }}{{currency.current.simbol_right}}</span>
  </div>
</div>
