@import "~src/styles/raisins/variables";
@import "~src/styles/raisins/mixins";

:host {
  display: block;
  background-color: white;
}

.fixed-header-height {
  height: 75px;
}

.golden {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  .long {
    @include col-width(#{$gr_longer + "%"});
  }
  .short {
    @include col-width(#{$gr_shorter + "%"});
  }
}

.logo {
  display: block;
  fill: $primary;
  opacity: 0.9;
  margin-right: $space;
  margin-top: 0;
  margin-bottom: 0;
  &:hover {
    opacity: 1;
  }
}

.primary {
  color: $primary;
}

.line-left {
  border-left: 1px solid $gray400;
  align-items: flex-end;
  justify-content: center;
}
app-accaunt-button {
  z-index: 1000;
}
$fn: cubic-bezier(0.175, 0.885, 0.32, 1.275);
.user-nav {
  list-style: none;
  background-color: $gray200;
  
  margin: unset;

  li {
    a {
      display: block;
      padding: $space/2;
      @include transition();
      &:hover {
        background-color: $primary;
        color: $white;
      }
    }
  }
}

.header-favorites-cart-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.logo-container {
  width: 79%;
  margin-left: -10px;
}

.col-40 {
  flex-basis: unset !important;
  max-width: unset !important;
}

.col-65 {
  flex-basis: unset !important;
  max-width: unset !important;
}

@media screen and(max-width: 1326px) {
  .logo-container {
    width: 94%;
    margin-left: -5px;
  }
}

@media screen and(max-width: 1020px) {
  .col-50 {
    flex-basis: unset !important;
    max-width: unset !important;
  }

  .col-40 {
    flex-basis: 40% !important;
    max-width: 40% !important;
  }

  .col-60 {
    flex-basis: 60% !important;
    max-width: 60% !important;
  }
}

@media screen and(min-width:1021px) {
  .col-50 {
    flex-basis: 50% !important;
    max-width: 50% !important;
  }
}

@media screen and(max-width:768px){
  rap-container{
    display: none;
  }

}

